* {
	@include box-sizing(border-box);
}
*:before,
*:after {
	@include box-sizing(border-box);
}


body {
	color: $color-base;
	font-family: $font-family-base;
	background-color: $body-bg;
	font-size: $font-size-base;
	line-height: $line-height-base;
}


.container {
	margin-right: auto;
	margin-left: auto;
	padding-left:  15px;
	padding-right: 15px;
	@include clearfix;

	@media (min-width: $screen-sm-min) {
		width: $container-sm;
	}

	@media (min-width: $screen-md-min) {
		width: $container-md;
	}

	@media (min-width: $screen-lg-min) {
		width: $container-lg;
	}

	@media (min-width: $screen-xl-min) {
		width: $container-xl;
	}
}


// Headings
//

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	margin: 0;
	padding: 0;
	font-weight: 400;
	line-height: 1.1;
}

h1, .h1 {
	font-weight: 300;
	font-size: 2.8rem;
	font-family: $font-family-head;
	
	
	@media (min-width: $screen-lg-min) {
		font-size: 3.2rem;
	}
	
}

h2, .h2 {
	color: #363636;
	font-size: 	2.4rem;
	margin-bottom: 25px;
	font-family: $font-family-head;
}

h3, .h3 {
	font-size: 2rem;
	font-family: $font-family-head;
}

h4, .h4 {
	color: #363636;
	font-weight: 600;
	font-size: 1.6rem;
	line-height: 2rem;
	font-family: $font-family-head;
}

h5, .h5 {
	font-weight: 600;
	font-size: 1.3rem;
	margin-bottom: 10px;
	font-family: $font-family-head;
}

h6, .h6 {
	font-size: 1.3rem;
	font-family: $font-family-head;
}

p {
	margin: 0 0 20px 0;
}


// Links

a {
	outline: none;
	color: $color-base;
	text-decoration: underline;
	background-color: transparent;
	-webkit-text-decoration-skip: objects;

	&:hover {
		color: $color-base;
		text-decoration: none;
	}
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

strong {
	font-weight: 600;
}