.modal {
	max-width: 360px;
	background: #fff;
	font-size: 1.2rem;
	line-height: 2rem;
	padding: 30px 20px;
	@include border-radius(6px);

	&__title {
		color: #363636;
		font-weight: 600;
		font-size: 1.6rem;
		line-height: 2rem;
		text-align: center;
		margin-bottom: 20px;
	}

	p {
		margin-bottom: 20px;

		a {
			color: #ffcc00;
			text-decoration: none;

			&:hover {
				color: #ffcc00;
				text-decoration: underline;
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		padding: 30px 40px;

		&__title {

		}
	}
}