.ticket_status {
	font-weight: 700;
	font-size: 0.9rem;
	line-height: 1rem;
	margin-left: 10px;
	text-decoration: none;
	text-transform: uppercase;
	padding: 5px 10px 5px 27px;
	@include border-radius(4px);

	&__good {
		color: #fff;
		background: #58a01d url("../img/icon__envelope.png") 10px 50% no-repeat;

		&:hover {
			color: #fff;
			text-decoration: none;
			background-color: #6bc81f;
		}
	}
}

.ticket {
	background: #fff;
	@include border-radius(6px);
	@include box-shadow(0px 2px 5px 0px rgba(0, 0, 0, 0.05));

	&__header {
		padding: 25px 20px;
		border-bottom: 1px solid #efefef;
		@include flexbox();
		@include flex-wrap(wrap);
		@include align-items(center);
		@include justify-content(space-between);

		&_left {
			padding: 5px 0;
		}

		&_right {
			padding: 5px 0;
			@include flexbox();
			@include flex-wrap(wrap);
			@include align-items(center);
		}

		&_status {
			color: #8e9aa9;
			padding: 5px 0;
			font-size: 1.3rem;
			line-height: 1.8rem;
			margin-right: 40px;
			@include flexbox();
			@include align-items(center);
		}

		h2 {
			margin-bottom: 5px;
		}

		&_time {
			color: #8e9aa9;

			strong {
				color: #363636;
				font-weight: 400;
			}
		}
	}

	&__block {
		padding: 25px 20px;
		border-bottom: 1px solid #efefef;

		&:last-child {
			border-bottom: none;
		}

		p {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__meta {
		margin: 0;
		padding: 0;
		color: #363636;
		font-size: 1.3rem;
		line-height: 2.4rem;
		list-style: none;

		li {
			@include flexbox();
			@include align-items(center);

			strong {
				width: 90px;
				font-weight: 600;
				display: inline-block;
			}

			span {
				display: inline-block;
			}
		}
	}

	&__text {
		font-size: 1.4rem;
		line-height: 2rem;
	}

	@media (min-width: $screen-sm-min) {

		&__header {
			padding: 25px 45px;
		}

		&__block {
			padding: 25px 45px;
		}
	}
}

.ticket_post {
	margin-bottom: 35px;

	&:last-child {
		margin-bottom: 0;
	}

	&__author {
		font-size: 1.3rem;
		line-height: 1.8rem;
		margin-bottom: 20px;
		@include flexbox();
		@include flex-wrap(wrap);
		@include align-items(center);
	}

	&__avatar {
		width: 20px;
		height: 20px;
		font-size: 0;
		line-height: 0;
		overflow: hidden;
		margin-right: 8px;
		display: inline-block;
		@include border-radius(50%);
		@include box-shadow(0px 6px 8px 0px rgba(0, 0, 0, 0.06));
	}

	&__name {
		color: #363636;
		font-weight: 600;
		margin-right: 8px;
		display: inline-block;

		a {
			color: #006dff;
			text-decoration: none;

			&:hover {
				color: #006dff;
				text-decoration: underline;
			}
		}
	}

	&__date {
		color: #8e9aa9;
		text-decoration: none;
		display: inline-block;
	}

	&__content {
		padding: 20px;
		color: #363636;
		font-size: 1.41rem;
		line-height: 2rem;
		font-style: italic;
		position: relative;
		background: #f5f5f5;
		@include border-radius(4px);

		&:before {
			left: 30px;
			top: -16px;
			content: '';
			position: absolute;
			display: inline-block;
			border: 8px solid transparent;
			border-bottom: 8px solid #f5f5f5;
		}

		&_blue {
			color: #0a5e8a;
			background: #ecf9ff;

			&:before {
				border-bottom-color: #ecf9ff;
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		&__content {
			padding: 24px 30px;
		}
	}
}

.attach_link {
	color: #006dff;
	font-size: 1.3rem;
	line-height: 2.4rem;
	padding-left: 24px;
	display: inline-block;
	text-decoration: none;
	background: url("../img/icon__attach.png") 0 50% no-repeat;

	&:hover {
		color: #006dff;
		text-decoration: underline;
	}
}