.footer {
	color: #8e9aa9;
	z-index: 100;
	font-size: 1.3rem;
	line-height: 1.6rem;
	position: relative;
	
	&__row {
		padding: 25px 0;
		border-top: 1px solid #e2e3e7;
		@include flexbox();
		@include align-items(flex-start);
		@include justify-content(space-between);
	}
	
	&__left {
	
	}
	
	&__right {
		padding: 5px 0;
	}
	
	&__text {
		padding: 5px 0;
	}
	
	&__nav {
		margin: 0;
		padding: 0;
		list-style: none;
	
		> li {
			
			padding-left: 30px;
			position: relative;
			
			&:before {
				left: 0;
				top: 50%;
				content: '';
				width: 10px;
				height: 10px;
				margin-top: -5px;
				position: absolute;
				display: inline-block;
				border: 2px solid #cee0f3;
				@include border-radius(50%);
			}
		
			> a {
				padding: 5px 0;
				color: #8e9aa9;
				display: inline-block;
				text-decoration: none;
				
				&:hover {
					color: #036dfd;
					text-decoration: underline;
				}
			}

			&.active {

				> a {
					color: #036dfd;
					text-decoration: underline;
				}
			}
		}
	}
	
	@media (min-width: 576px) {
		
		&__row {
			@include align-items(center);
		}
		
		&__nav {
			@include flexbox();
			@include align-items(center);
			
			> li {
				margin-right: 25px;
				
				&:first-child {
					padding-left: 0;
					
					&:before {
						display: none;
					}
				}
				
				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
	
	@media (min-width: $screen-md-min) {
	
		&__left {
			@include flexbox();
			@include align-items(center);
		}
		
		&__text {
			margin: 0 60px 0 0;
		}
	}
	
	@media (min-width: $screen-md-min) { }
}

.lng {
	font-size: 0;
	line-height: 0;
	display: inline-block;
	position: relative;
	
	&__active {
		cursor: pointer;
		background: #fff;
		position: relative;
		text-decoration: none;
		padding: 10px 40px 10px 10px;
		@include flexbox();
		@include align-items(center);
		@include border-radius(6px);
		@include box-shadow(0px 8px 10px 0px rgba(0, 0, 0, 0.25));
		
		&:before {
			top: 50%;
			right: 15px;
			z-index: 5;
			width: 10px;
			height: 6px;
			content: '';
			display: block;
			margin-top: -3px;
			position: absolute;
			background: url("../img/lng__arrow.png") 0 0 no-repeat;
		}
		
		span {
			color: #8e9aa9;
			font-size: 1.4rem;
			font-weight: 400;
			margin-left: 8px;
			line-height: 1.6rem;
			display: inline-block;
			text-decoration: none;
		}
		
		b {
			width: 16px;
			height: 16px;
			overflow: hidden;
			@include border-radius(50%);
		}
	}
	
	&__dropdown {
		left: 0;
		bottom: 100%;
		min-width: 100%;
		margin: 5px 0 0 0;
		padding: 0;
		display: none;
		overflow: hidden;
		list-style: none;
		position: absolute;
		background: #fff;
		@include box-shadow(0px 8px 10px 0px rgba(0, 0, 0, 0.25));
		@include border-radius(6px);
		
		li {
			
			a {
				color: #8e9aa9;
				font-size: 1.4rem;
				padding: 8px 10px;
				line-height: 1.6rem;
				text-decoration: none;
				@include flexbox();
				@include align-items(center);
				@include justify-content(flex-start);
				
				span {
					margin-left: 8px;
					display: inline-block;
				}
				
				i {
					width: 16px;
					height: 16px;
					overflow: hidden;
					@include border-radius(50%);
				}
				
				
				&:hover {
					color: #7b8796;
					text-decoration: none;
					background: #f5f5f5;
				}
			}
		}
	}
	
	&.open {
		
		.lng__active {
			
			&:before {
				opacity: 1;
				visibility: visible;
			}
		}
		
		.lng__dropdown {
			display: block;
		}
	}
}