body {
	background: #f7f8fc;
	position: relative;
	
	&:before {
		top: 61px;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 2;
		content: '';
		opacity: 0;
		background: #fff;
		visibility: hidden;
		height: 46px;
		display: block;
		position: absolute;
		border-bottom: 1px solid #fff;
	}
	
	@media (min-width: $screen-lg-min) {
		
		&:before {
			opacity: 1;
			visibility: visible;
			@include box-shadow(0px 2px 5px 0px rgba(0, 0, 0, 0.2));
		}
	}
}

.page {
	width: 100%;
	padding-top: 61px;
	overflow: hidden;
	position: relative;
	min-height: 100vh;
	@include flexbox();
	@include flex-direction(column);
//	background: url("../img/bottom__bg.png") 50% 100% no-repeat;
	
	&:after {
		top: 0;
		left: 0;
		right: 0;
		z-index: 800;
		content: '';
		height: 61px;
		display: block;
		position: fixed;
		border-bottom: 1px solid #1e2f48;
		background: url("../img/header__bg.png") 50% 0 repeat-x;
		@include box-shadow(0px 2px 5px 0px rgba(0, 0, 0, 0.2));
	}
	
	&:before {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 801;
		content: '';
		opacity: 0.5;
		height: 60px;
		display: block;
		position: fixed;
		background: url("../img/header__light.png") 50% 100% no-repeat;
	}
	
	@media (min-width: $screen-lg-min) {
		padding-top: 110px;
		
		&:after {
			z-index: 1;
			position: absolute;
			@include box-shadow(none);
		}
		
		&:before {
			z-index: 2;
			position: absolute;
		}
	}
}

.main {
	z-index: 100;
	position: relative;
	padding-top: 40px;
	padding-bottom: 40px;
	@include flex-grow(1);
	
	@media (min-width: $screen-lg-min) {
		padding-top: 60px;
	}
	
	@media (min-width: $screen-xl-min) {
		padding-top: 40px;
	}
}

.heading {
	margin-bottom: 35px;

	h1 {
		padding: 5px 5px 5px 0;
	}


	&__time {
		color: #8e9aa9;
		font-size: 1.3rem;
		line-height: 2rem;
		padding-left: 28px;
		white-space: nowrap;
		background: url("../img/icon__time.png") 0 50% no-repeat;

		strong {
			color: #363636;
			font-weight: 400;
		}
	}

	&__left {
		margin-bottom: 10px;
		@include flexbox();
		@include flex-wrap(wrap);
		@include align-items(center);
	}

	&__right {

	}

	@media (min-width: 567px) {

		h1 {
			margin-right: 30px;
		}
	}

	@media (min-width: $screen-sm-min) {

	}

	@media (min-width: $screen-md-min) {
		@include flexbox();
		@include align-items(center);
		@include justify-content(space-between);

		&__left {
			margin-bottom: 0;
		}

		&__right {
			@include flexbox();
		}
	}
}

.ref {
	color: #8e9aa9;
	font-size: 1.3rem;
	line-height: 2rem;
	max-width: 510px;
	padding: 4px 4px 4px 4px;
	border: 1px solid #e2e3e6;
	@include flexbox();
	@include border-radius(4px);
	@include align-items(center);
	//	@include flex-wrap(wrap);

	&__label {
		white-space: nowrap;
		padding: 0 5px 0 30px;
		background: url("../img/icon__link.png") 3px 50% no-repeat;
	}

	&__link {
		width: 100%;
		color: #363636;
		border: none;
		outline: none;
		padding: 3px 0;
		font-weight: 600;
		font-size: 1.3rem;
		line-height: 2rem;
		overflow: hidden;
		display: inline-block;
		background: transparent;
		padding-right: 10px;
	}

	&__button {
		display: none;
		padding-left: 33px;
		background-repeat: no-repeat;
		background-position: 12px 50%;
		background-image: url("../img/icon__copy.png");
		@include flex-shrink(0);
	}

	@media (min-width: 567px) {
		width: 510px;
		@include flex-wrap(nowrap);

		&__button {
			display: inline-block;
		}
	}

	@media (min-width: $screen-md-min) {
		width: 480px;
	}

	@media (min-width: $screen-lg-min) {
		width: 450px;
	}

	@media (min-width: $screen-xl-min) {
		width: 510px;
	}
}

.content {
	background: #fff;
	padding: 20px 20px 30px 20px;
	@include border-radius(6px);
	@include box-shadow(0px 2px 5px 0px rgba(0, 0, 0, 0.05));

	&__header {
		margin-bottom: 15px;
		@include flexbox();
		@include flex-wrap(wrap);
		@include align-items(center);
		@include justify-content(space-between);

		&_title {
			padding: 5px 0;
		}

		&_data {
			padding: 5px 0;
		}

		h2,
		h3,
		h4 {
			margin-bottom: 0;
		}
	}

	&__table {
		margin: 0 -15px;
	}

	@media (min-width: $screen-sm-min) {
		padding: 25px 40px 40px 40px;
	}

	@media (min-width: $screen-md-min) {

		&__table {
			margin: 0 -40px;
		}
	}
}

.status {
	padding: 3px 7px;
	font-weight: 700;
	font-size: 1.1rem;
	line-height: 1.4rem;
	display: inline-block;
	text-transform: uppercase;
	background-color: #58a01d;
	background-repeat: no-repeat;
	background-position: 7px 50%;
	@include border-radius(3px);

	&_new {
		color: #fff;
		padding-left: 20px;
		background-color: #5096e9;
		background-image: url("../img/status__new.png");
	}

	&_support {
		color: #fff;
		padding-left: 22px;
		background-color: #58a01d;
		background-image: url("../img/status__email.png");
	}

	&_close {
		color: #fff;
		padding-left: 22px;
		background-color: #a9bacf;
		background-image: url("../img/status__close.png");
	}

	&_reply {
		color: #fff;
		padding-left: 22px;
		background-color: #3eb5b4;
		background-image: url("../img/status__email.png");
	}
}

.packages {

	&__nav {
		margin: 0 -15px;
		font-size: 0;
		line-height: 0;
		border-bottom: 1px solid #dcdcdc;
		@include flexbox();
		@include align-items(center);
		@include justify-content(space-between);

		a {
			height: 46px;
			color: #363636;
			position: relative;
			background: #f7f8fc;
			text-decoration: none;
			width: calc(33.33% - 2px);
			border-top: 2px solid #fff;
			border-left: 1px solid #fff;
			border-right: 1px solid #fff;
			@include flexbox();
			@include align-items(center);
			@include justify-content(center);

			&:hover {
				color: #363636;
				text-decoration: none;
			}

			&.active {
				background: #fff;
				border-top-color: #ffcc00;
				border-left-color: #dcdcdc;
				border-right-color: #dcdcdc;

				&:before {
					left: 0;
					right: 0;
					top: 100%;
					content: '';
					height: 1px;
					z-index: 10;
					display: block;
					background: #fff;
					position: absolute;
				}
			}

			i {
				display: none;
				margin-right: 8px;
			}

			span {
				color: #363636;
				font-weight: 600;
				font-size: 1.2rem;
				line-height: 2rem;
				display: inline-block;
				text-transform: uppercase;
			}

			strong {
				display: none;
				color: #363636;
				padding: 2px 7px;
				margin-left: 8px;
				font-weight: 700;
				font-size: 1.2rem;
				line-height: 1.6rem;
				background: #ffcc00;
				@include border-radius(10px);
			}
		}
	}

	&__item {
		display: none;

		&.active {
			display: block;
		}
	}

	@media (min-width: $screen-sm-min) {

		&__nav {
		//	margin: 0;

			a {

				i {
					display: inline-block;
				}

				span {
					font-size: 1.4rem;
				}

				strong {
					display: inline-block;
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {

		&__nav {
			margin: 0;
		}
	}
}

.message {
	font-weight: 600;
	font-size: 1.3rem;
	line-height: 2rem;
	border-left: 2px solid #ccc;
	padding: 10px 10px 10px 35px;

	&_blue {
		color: #0a5e8a;
		border-left-color: #0a5e8a;
		background: #ecf9ff url("../img/icon__alert_blue.png") 12px 12px no-repeat;
	}

	&_red {
		color: #ff384b;
		border-left-color: #ff384b;
		background: #ffebed url("../img/icon__alert_red.png") 12px 12px no-repeat;
	}
}

.currency {
	z-index: 100;
	font-size: 0;
	line-height: 0;
	display: block;
	position: relative;

	&__active {
		cursor: pointer;
		position: relative;
		padding: 9px 30px 9px 11px;
		border: 1px solid #e9e9e9;
		@include flexbox();
		@include align-items(center);
		@include border-radius(4px);

		&:before {
			top: 50%;
			right: 12px;
			width: 9px;
			height: 5px;
			content: '';
			position: absolute;
			display: inline-block;
			background: url("../img/icon__down.png") 0 0 no-repeat;
			@include transition(.3s);
		}

		&_icon {
			width: 20px;
			height: 20px;
			display: block;
			margin-right: 8px;
			position: relative;
			@include flex-shrink(0);
		}

		&_text {
			color: #363636;
			font-weight: 600;
			font-size: 1.3rem;
			line-height: 2rem;
			position: relative;
			@include flex-grow(1);

			span {
				display: block;
				max-width: 100%;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}

	&__list {
		left: 0;
		top: 100%;
		width: 100%;
		opacity: 0;
		z-index: -1;
		overflow: hidden;
		margin-top: 1px;
		max-width: 100%;
		background: #fff;
		visibility: hidden;
		position: absolute;
		border: 1px solid #e9e9e9;
		@include border-radius(4px);
		@include transition(.3s);
	}

	&__item {
		height: 36px;
		cursor: pointer;
		padding: 8px 11px;
		@include flexbox();
		@include align-items(center);

		&:hover {
			background: #f7f8fc;
		}

		&_icon {
			width: 20px;
			height: 20px;
			display: block;
			margin-right: 8px;
			position: relative;
			@include flex-shrink(0);
		}

		&_name {
			color: #363636;
			font-weight: 600;
			font-size: 1.3rem;
			line-height: 2rem;
			position: relative;
			@include flex-grow(1);

			span {
				display: block;
				max-width: 100%;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}

	&.open {
		z-index: 200;

		.currency__active {

			&:before {
				@include rotate(180deg);
				@include transition(.3s);
			}
		}

		.currency__list {
			opacity: 1;
			z-index: 100;
			visibility: visible;
			@include transition(.3s);
		}
	}
}

.white_box {
	background: #fff;
	padding: 20px 20px 25px 20px;
	@include border-radius(6px);
	@include box-shadow(0px 2px 5px 0px rgba(0, 0, 0, 0.05));

	@media (min-width: $screen-sm-min) {
		padding: 30px 40px 35px 40px;
	}

	@media (min-width: $screen-md-min) {
		height: 100%;
	}
}

.qr {
	padding: 30px 20px;
	margin-bottom: 30px;
	border: 1px solid #e9e9e9;
	@include border-radius(6px);
	@include flexbox();
	@include flex-direction(column);

	&__wrap {
		margin: auto 0;
	}

	&__item {
		width: 174px;
		margin: 0 auto;
	}

	@media (min-width: $screen-md-min) {
		height: 100%;
		margin-bottom: 0;
	}
}

.career {
	margin: 0 -4px;
}

.level {
	margin-bottom: 12px;
	border: 4px solid transparent;
	@include border-radius(6px);

	&_gray {

		.level__inner {
			@include box-shadow(0px 2px 5px 0px rgba(0, 0, 0, 0.05));
		}

		.level__content {
			opacity: 0.7;
		}

		.level__name {
			opacity: 0.7;
		}
	}

	&_yellow {
		border-color: #f8f1d6;

		.level__inner {
			border-color: #ffcc00;
		}

		.level__step {
			color: #ffcc01;
			background-image: url("../img/level_yellow.png");
		}

		.level__progress_value {
			color: #ffcc01;
		}
	}

	&_blue {
		border-color: #d3e4fc;

		.level__inner {
			border-color: #0a73ff;
		}

		.level__step {
			color: #0a73ff;
			background-image: url("../img/level_blue.png");
		}

		.level__progress_value {
			color: #0a73ff;
		}
	}

	&__inner {
		background: #fff;
		padding: 10px 20px;
		border: 2px solid #fff;
		@include flexbox();
		@include flex-wrap(wrap);
		@include align-items(center);
		@include justify-content(space-between);
		@include border-radius(4px);
	}

	&__header {
		@include flexbox();
		@include align-items(center);
		@include order(1);
	}

	&__step {
		width: 98px;
		height: 98px;
		display: none;
		font-size: 0;
		line-height: 0;
		color: #d4d4d5;
		padding-top: 22px;
		text-align: center;
		background: url("../img/level_gray.png") 50% 50% no-repeat;

		strong {
			display: block;
			font-weight: 600;
			font-size: 3.5rem;
			line-height: 3.5rem;
		}

		span {
			display: block;
			font-weight: 600;
			font-size: 0.9rem;
			line-height: 1rem;
			text-transform: uppercase;
		}
	}

	&__name {
		width: 110px;
		height: 78px;
		color: #363636;
		font-weight: 300;
		font-size: 2rem;
		line-height: 3rem;
		padding-right: 15px;
		text-transform: uppercase;
		border-right: 1px solid #f0f0f1;
		@include flexbox();
		@include flex-direction(column);

		&_wrap {
			margin: auto 0;
		}
	}

	&__progress {
		@include flexbox();
		@include align-items(center);
		@include order(2);

		&_item {
			margin-left: 20px;
			white-space: nowrap;
		}

		&_chart {
			font-size: 0;
			line-height: 0;
			margin-bottom: 10px;
			text-align: center;
			position: relative;

			strong {
				color: #363636;
				display: block;
				font-weight: 700;
				font-size: 1.6rem;
				line-height: 2rem;
			}

			span {
				color: #8e9aa9;
				display: block;
				font-weight: 600;
				font-size: 0.9rem;
				line-height: 1.2rem;
				text-transform: uppercase;
			}
		}

		&_wrap {
			z-index: 10;
			position: relative;
		}

		&_image {
			z-index: 1;
			display: none;
			position: relative;
		}

		&_value {
			color: #8e9aa9;
			font-weight: 700;
			font-size: 1.8rem;
			line-height: 2rem;
			text-align: center;
		}
	}

	&__info {
		width: 100%;
		margin: 0;
		padding: 0;
		font-size: 0;
		line-height: 0;
		list-style: none;
		@include flexbox();
		@include flex-wrap(wrap);
		@include justify-content(space-between);


		> li {
			width: 50%;
			padding: 10px 0;

			strong {
				display: block;
				color: #363636;
				font-weight: 600;
				font-size: 1.8rem;
				line-height: 2rem;
			}

			span {
				display: block;
				color: #363636;
				font-size: 1.4rem;
				line-height: 2rem;
			}
		}
	}

	&__present {
		color: #8e9aa9;
		padding-top: 15px;
		@include flexbox();
		@include align-items(center);

		i {
			font-size: 0;
			line-height: 0;
			margin-right: 15px;
			display: inline-block;
		}

		span {
			padding-top: 5px;
			display: inline-block;
		}

		strong {
			color: #363636;
			font-weight: 600;
		}
	}

	&__content {
		width: 100%;
		display: block;
		padding-top: 10px;
		padding-bottom: 10px;
		@include order(3);
	}

	&__chart {
		width: 90px;
		height: 90px;
		font-size: 0;
		line-height: 0;
		display: none;
		@include border-radius(50%);

		-moz-transform: scale(-1, 1);
		-webkit-transform: scale(-1, 1);
		-o-transform: scale(-1, 1);
		transform: scale(-1, 1);
		filter: FlipH;
		-ms-filter: "FlipH";

		svg {
			@include rotate(270deg);
		}

		&_blue {

		}

		&_yellow {
		}

	}



	@media (min-width: 568px) {

		&__content {
			padding-top: 20px;
		}

		&__info {
			@include flex-wrap(nowrap);

			> li {
				width: auto;
				padding: 0;
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		&__step {
			display: block;
		}

		&__name {
			width: 175px;
			font-size: 2.4rem;
			padding-left: 15px;
			padding-right: 30px;
			@include flex-shrink(0)
		}

		&__progress {

			&_item {
				margin-left: 0;
				@include flexbox();
				@include align-items(center);
			}

			&_chart {
				width: 90px;
				height: 90px;
				margin-bottom: 0;
				@include flex-shrink(0);
			}

			&_wrap {
				left: 0;
				right: 0;
				top: 30px;
				text-align: center;
				position: absolute;
			}

			&_image {
				display: block;
			}

			&_value {
				width: 60px;
				text-align: left;
				padding-left: 5px;
				@include flex-shrink(0);
			}
		}

		&__content {
			padding: 20px 20px;
		}

		&__info {

			> li {
				padding-left: 50px;

				&:nth-child(1) {
					background: url("../img/level__icon_01.png") 0 0 no-repeat;
				}

				&:nth-child(2) {
					background: url("../img/level__icon_02.png") 0 0 no-repeat;
				}

				&:nth-child(3) {
					background: url("../img/level__icon_03.png") 0 0 no-repeat;
				}

				&:nth-child(4) {
					background: url("../img/level__icon_04.png") 0 0 no-repeat;
				}

			}
		}

		&__chart {
			display: block;
		}
	}


	@media (min-width: $screen-md-min) {

		&__content {
			padding-left: 120px;
		}
	}

	@media (min-width: $screen-lg-min) {

		&__inner {
			height: 148px;
			@include flex-wrap(nowrap);
		}

		&__content {
			width: auto;
			padding: 0 40px 0 40px;
			@include order(2);
			@include flex-grow(1);
		}

		&__info {
		//	@include flex-wrap(wrap);

			> li {
				padding-left: 0;

				&:nth-child(1),
				&:nth-child(2),
				&:nth-child(3),
				&:nth-child(4) {
					background: none;
				}
			}
		}
	}


	@media (min-width: $screen-xl-min) {



		&__content {
			padding-left: 45px;
			padding-right: 60px;

		}

		&__info {

			> li {
				padding-left: 50px;

				&:nth-child(1) {
					background: url("../img/level__icon_01.png") 0 0 no-repeat;
				}

				&:nth-child(2) {
					background: url("../img/level__icon_02.png") 0 0 no-repeat;
				}

				&:nth-child(3) {
					background: url("../img/level__icon_03.png") 0 0 no-repeat;
				}

				&:nth-child(4) {
					background: url("../img/level__icon_04.png") 0 0 no-repeat;
				}
			}
		}
	}
}

.board_item {
	height: 125px;
	padding-top: 5px;
	margin-bottom: 5px;
	background: #fff;
	text-align: center;
	@include box-shadow(0px 2px 5px 0px rgba(0, 0, 0, 0.05));

	&__image {
		width: 64px;
		height: 64px;
		margin: 0 auto;
		position: relative;
	}

	&__icon {
		z-index: 20;
		width: 64px;
		height: 64px;
		position: relative;
	}

	&__bg {
		top: 0;
		left: 0;
		z-index: 1;
		width: 64px;
		height: 64px;
		position: absolute;
		background: url("../img/board__bg.png") 50% 50% no-repeat;
	}

	&__name {
		color: #8e9aa9;
		font-weight: 600;
		font-size: 1.3rem;
		line-height: 1.6rem;
		text-transform: uppercase;
	}

	&__value {
		color: #363636;
		font-weight: 300;
		font-size: 2.4rem;
		line-height: 2.4rem;
	}

	@media (min-width: $screen-sm-min) {
		margin: 0 1px 2px 1px;
		width: calc(33.33% - 2px);
	}
}

.board_info {
	height: 125px;
	max-width: 410px;
	margin: 0 auto 2px auto;
	padding: 10px 10px 5px 10px;
	background: #fff;
	@include box-shadow(0px 2px 5px 0px rgba(0, 0, 0, 0.05));

	&__group {
		@include flexbox();
		@include justify-content(space-between);
	}

	&__item {
		width: 140px;
		padding: 7px 10px 7px 44px;

		span {
			display: block;
			color: #8e9aa9;
			font-weight: 600;
			font-size: 1.2rem;
			line-height: 1.6rem;
			white-space: nowrap;
			margin-bottom: 4px;
			text-transform: uppercase;
		}

		strong {
			color: #363636;
			display: block;
			font-weight: 300;
			font-size: 1.8rem;
			line-height: 2rem;
			white-space: nowrap;
		}

		&_01 {
			background: url("../img/dash_icon_mini__01.png") 10px 50% no-repeat;
		}

		&_02 {
			background: url("../img/dash_icon_mini__02.png") 10px 50% no-repeat;
		}

		&_03 {
			background: url("../img/dash_icon_mini__03.png") 10px 50% no-repeat;
		}

		&_04 {
			background: url("../img/dash_icon_mini__04.png") 10px 50% no-repeat;
		}
	}

	@media (min-width: $screen-xl-min) {
		padding: 5px 10px 5px 30px;

		&__item {
			width: 170px;
		}
	}
}

.board {
	display: none;
	margin-bottom: 40px;

	&__center {
		display: none;
	}

	@media (min-width: $screen-sm-min) {
		display: block;

		&__left {
			margin: 0 -1px;
			@include flexbox();
		}

		&__right {
			margin: 0 -1px;
			@include flexbox();
		}
	}

	@media (min-width: $screen-md-min) {
		margin: 0 -1px 40px -1px;
		@include flexbox();
		@include justify-content(space-between);

		&__left {
			margin: 0;
			width: 50%;
		}

		&__right {
			margin: 0;
			width: 50%;
		}

		@media (min-width: $screen-lg-min) {

			&__center {
				width: 300px;
				display: block;
				@include flex-shrink(0);
			}

			&__left {
				@include flex-grow(1);

				.board_item {

					&:first-child {
						@include border-radius(6px 0 0 6px);
					}
				}
			}

			&__right {
				@include flex-grow(1);

				.board_item {

					&:last-child {
						@include border-radius(0 6px 6px 0);
					}
				}
			}
		}

		@media (min-width: $screen-xl-min) {

			&__center {
				width: 410px;
			}
		}
	}
}

.pack {
	height: 160px;
	color: #363636;
	cursor: pointer;
	background: #fff;
	position: relative;
	margin-bottom: 40px;
	text-decoration: none;
	padding: 15px 5px 15px 30px;
	@include flexbox();
	@include align-items(center);
	@include border-radius(6px);
	@include box-shadow(0px 2px 5px 0px rgba(0, 0, 0, 0.05));

	&:before {
		top: 50%;
		right: 35px;
		content: '';
		width: 16px;
		height: 16px;
		display: none;
		margin-top: -8px;
		position: absolute;
		background: #eff1f7;
		border: 4px solid #eff1f7;
		@include border-radius(50%);
	}

	&__icon {
		width: 92px;
		height: 92px;
		position: relative;
		@include flex-shrink(0);

		&:before {
			top: 0;
			left: 0;
			z-index: 1;
			content: '';
			width: 100%;
			height: 100%;
			display: block;
			position: absolute;
			background: url("../img/pack__bg.png") 50% 50% no-repeat;
		}

		&:after {
			top: 0;
			left: 0;
			z-index: 1;
			content: '';
			width: 100%;
			height: 100%;
			display: block;
			opacity: 0;
			position: absolute;
			visibility: hidden;
			background: url("../img/pack__bg_hover.png") 50% 50% no-repeat;
		}

		&_base {
			top: 0;
			left: 0;
			z-index: 10;
			width: 100%;
			height: 100%;
			display: block;
			position: absolute;
		}

		&_hover {
			top: 0;
			left: 0;
			z-index: 10;
			width: 100%;
			height: 100%;
			display: block;
			position: absolute;
			opacity: 0;
			visibility: hidden;
		}
	}

	&__content {
		padding-left: 20px;
		@include flex-grow(1);


		&_title {
			font-size: 3rem;
			font-weight: 300;
			line-height: 3rem;
			margin-bottom: 5px;
			text-transform: uppercase;
		}

		&_value {
			font-weight: 600;
			font-size: 1.8rem;
			line-height: 2rem;
			margin-bottom: 4px;
		}

		&_time {
			font-size: 1.4rem;
			line-height: 2.4rem;
			padding-left: 22px;
			position: relative;
			display: inline-block;

			&:before {
				left: 0;
				top: 50%;
				content: '';
				width: 16px;
				height: 16px;
				display: block;
				margin-top: -8px;
				position: absolute;
				background: url("../img/icon__clock.png") 0 0 no-repeat;
			}
		}
	}

	&:hover {
		@include box-shadow(0px 20px 20px 0px rgba(34, 109, 197, 0.5));
	}

	&.active {
		color: #fff;
		background: #226dc5;
		@include box-shadow(0px 20px 20px 0px rgba(34, 109, 197, 0.5));

		&:before {
			border-color: #1d5eab;
			background: #ffcc00;
		}

		.pack__content_time {

			&:before {
				background-position: 0 -16px;
			}
		}

		.pack__icon_base {
			opacity: 0;
			visibility: hidden;
		}

		.pack__icon_hover {
			opacity: 1;
			visibility: visible;
		}

		.pack__icon {

			&:before {
				opacity: 0;
				visibility: hidden;
			}

			&:after {
				opacity: 1;
				visibility: visible;
			}
		}

	}

	@media (min-width: $screen-sm-min) {
		height: auto;
		display: block;
		padding: 15px 5px;

		&__icon {
			margin: 0 auto 10px auto;
		}

		&__content {
			padding-left: 0;
			text-align: center;
		}
	}

	@media (min-width: $screen-md-min) {

	}

	@media (min-width: $screen-lg-min) {
		height: 160px;
		padding-left: 35px;
		@include flexbox();

		&__icon {
			margin: 0;
		}

		&__content {
			text-align: left;
			padding-left: 23px;
		}
	}

	@media (min-width: $screen-xl-min) {
		margin-bottom: 40px;

		&_group {

			.row {
				margin: 0 -20px;
			}

			.col-gutter-lr {
				padding: 0 20px;
			}
		}

		&:before {
			display: block;
		}
	}

}

.pack_block {

	&__header {
		color: #363636;
		text-align: center;
		margin-bottom: 20px;
	}

	&__title {
		font-size: 3rem;
		font-weight: 300;
		line-height: 3rem;
		text-align: center;
		margin-bottom: 5px;
	}

	&__time {
		font-size: 1.4rem;
		line-height: 2.4rem;
		padding-left: 22px;
		position: relative;
		display: inline-block;

		&:before {
			left: 0;
			top: 50%;
			content: '';
			width: 16px;
			height: 16px;
			display: block;
			margin-top: -8px;
			position: absolute;
			background: url("../img/icon__clock.png") 0 0 no-repeat;
		}
	}

	&__wrap {
		margin: 0 auto;
		max-width: 570px;

		.row {
			margin: 0 -5px;
		}

		.col-gutter-lr {
			padding: 0 5px;
		}

		input[disabled].form_control {
			font-weight: 600;
		}
	}

	.btn {
		width: 270px;
	}

	@media (min-width: $screen-sm-min) {

		.content {
			background: #fff url("../img/content__parrern_01.png") 100% 100% no-repeat;
		}
	}
}

.pack_range {
	padding-top: 10px;
	max-width: 1100px;
	margin: 0 auto 30px auto;
	@include flexbox();
	@include flex-wrap(wrap);
	@include justify-content(space-between);

	&__slider {
		width: 100%;
		@include order(1);
	}

	&__grid {
		color: #363636;
		font-weight: 600;
		font-size: 1.8rem;
		line-height: 2rem;
		white-space: nowrap;
	}

	&__start {
		@include order(2);
	}

	&__finish {
		@include order(3);
	}

	.irs-min,
	.irs-max,
	.irs-single {
		display: none;
	}

	.irs--round {
		height: 30px;

		.irs-line {
			top: 16px;
			background-color: #edeff6;
		}

		.irs-bar {
			top: 16px;
			background-color: #ffcc00;
		}

		.irs-handle {
			top: 9px;
			width: 18px;
			height: 18px;
			cursor: pointer;
			border: 4px solid #ffcc00;
			@include box-shadow(none);
		}
	}

	@media (min-width: $screen-sm-min) {
		@include flex-wrap(nowrap);

		&__slider {
			@include order(2);
		}

		&__grid {
			padding-top: 6px;
		}

		&__start {
			padding-right: 10px;
			@include order(1);
		}

		&__finish {
			padding-left: 10px;
			@include order(3);
		}
	}

}

.table_filter {
	margin: 0 -2px;
	font-size: 0;
	line-height: 0;
	list-style: none;
	padding: 0 0 10px 0;
	@include flexbox();
	@include flex-wrap(wrap);
	@include align-items(center);

	li {
		margin: 0 2px 10px 2px;
		display: inline-block;
	}

	a {
		opacity: 0.5;
		color: #363636;
		padding: 4px 8px;
		text-decoration: none;
		border: 2px solid transparent;
		@include flexbox();
		@include align-items(center);
		@include border-radius(5px);

		&:hover {
			opacity: 1;
			color: #363636;
			text-decoration: none;
		}

		&.active {
			opacity: 1;
			border-color: #ffda45;
		}

		i {
			margin-right: 10px;
			display: none;
		}

		span {
			font-size: 1.3rem;
			line-height: 1.6rem;
			display: inline-block;
		}
	}

	@media (min-width: $screen-lg-min) {

		a {
			padding: 4px 18px;
		}
	}

	@media (min-width: $screen-xl-min) {

		a {

			i {
				display: inline-block;
			}
		}
	}
}

.status_item {
	font-weight: 600;
	font-size: 1.3rem;
	line-height: 1.8rem;
	white-space: nowrap;
	padding-left: 25px;
	display: inline-block;
}

.status_item_wait {
	color: #8e9aa9;
	background: url("../img/icon_table__wait.png") 0 50% no-repeat;
}

.status_item_done {
	color: #58a01d;
	background: url("../img/icon_table__check.png") 0 50% no-repeat;
}

.status_item_reject {
	color: #c22e39;
	background: url("../img/icon_table__cansel.png") 0 50% no-repeat;
}

.pagination {
	padding: 28px 0 0 0;
	margin: 0 -6px;
	list-style: none;
	font-size: 1.3rem;
	line-height: 2rem;
	@include flexbox();
	@include align-items(center);
	@include justify-content(center);

	li {
		margin: 0 6px;

		a {
			width: 34px;
			height: 34px;
			color: #8e9aa9;
			display: block;
			padding: 5px 2px;
			text-align: center;
			text-decoration: none;
			border: 2px solid #f2f2f2;
			@include border-radius(3px);

			&:hover {
				color: #8e9aa9;
				background-color: #f2f2f2;
				text-decoration: none;
			}
		}
	}

	&_prev {
		background: #f2f2f2 url("../img/icon_angle_left.png") 50% 50% no-repeat;

		&:hover {
			background: #dbdbdb url("../img/icon_angle_left.png") 50% 50% no-repeat;
		}
	}

	&_next {
		background: #f2f2f2 url("../img/icon_angle_left.png") 50% 50% no-repeat;
		@include rotate(180deg);

		&:hover {
			background: #dbdbdb url("../img/icon_angle_left.png") 50% 50% no-repeat;
		}
	}
}


.white_block {
	background: #fff;
	padding: 20px 20px 20px 20px;
	@include border-radius(6px);
	@include box-shadow(0px 2px 5px 0px rgba(0, 0, 0, 0.05));

	&__heading {
		margin: 0 -20px 20px 0;
		@include flexbox();
		@include align-items(center);
		@include flex-wrap(wrap);

		h4 {
			margin: 0 20px 5px 0;
		}

		.property {
			margin-bottom: 5px;
			margin-right: 20px;
		}
	}


	@media (min-width: $screen-sm-min) {
		padding: 30px 40px 30px 40px;
	}
}

.input_btc {
	padding-left: 36px;
	background-position: 9px 50%;
	background-repeat: no-repeat;
	background-image: url("../img/currency__btc.png");
}

.property {
	font-weight: 600;
	font-size: 1.6rem;
	line-height: 2rem;
	padding-right: 25px;
	display: inline-block;


	&_valid {
		background: url("../img/icon_table__check.png") 100% 50% no-repeat;
	}

	&_process {
		background: url("../img/icon_table__wait.png") 100% 50% no-repeat;
	}

	&_invalid {
		background: url("../img/icon_table__cansel.png") 100% 50% no-repeat;
	}

}

.product_image {
	margin: 0 auto;
	max-width: 370px;
}

.download_link {
	color: #fff;
	font-weight: 700;
	font-size: 0.9rem;
	line-height: 1rem;
	text-decoration: none;
	text-transform: uppercase;
	padding: 5px 10px 5px 27px;
	background: #58a01d url("../img/icon__download.png") 10px 50% no-repeat;
	@include border-radius(4px);

	&:hover {
		color: #fff;
		text-decoration: none;
		background-color: #6bc81f;
	}
}

.camp {
	font-size: 1.2rem;
	line-height: 2rem;

	&__meta {
		padding: 0;
		color: #8e9aa9;
		list-style: none;
		margin: 0 -5px 15px -5px;
		@include flexbox();
		@include flex-wrap(wrap);

		li {
			margin: 0 5px;

			&:after {
				width: 6px;
				height: 6px;
				content: '';
				background: #cce4ff;
				display: inline-block;
				margin-left: 9px;
				@include border-radius(50%);
			}

			&:last-child {

				&:after {
					display: none;
				}
			}
		}
	}

	&__footnote {
		margin-right: -10px;
		@include flexbox();
		@include flex-wrap(wrap);

		span {
			margin-right: 10px;
			display: inline-block;
		}
	}
}

.collapse {
//	height: 100%;
	background: #fff;
	padding: 10px 0;
	@include border-radius(6px);
	@include box-shadow(0px 2px 5px 0px rgba(0, 0, 0, 0.05));

	&__header {
		color: #363636;
		font-size: 2rem;
		font-weight: 600;
		line-height: 3rem;
		padding: 20px 15px;
		position: relative;
		@include flexbox();
		@include align-items(center);
		@include justify-content(space-between);


		&_title {
			display: inline-block;
		}

		&_toggle {
			width: 20px;
			height: 20px;
			font-size: 0;
			line-height: 0;
			cursor: pointer;
			display: inline-block;
			background: #eff1f7 url("../img/icon__collapse_toggle.png") 50% 50% no-repeat;
			@include border-radius(50%);
			@include flex-shrink(0);
			@include transition(.3s);
		}

		&_nav {
			display: none;
		}
	}

	&__content {
		padding: 0 15px 30px 15px;

		&_line {
			height: 2px;
			margin: 0 -15px;
			background: #eff1f7;
		}

		&_nav {
			width: 112px;
			margin: 0 auto;
			padding-top: 20px;
			@include flexbox();
			@include align-items(center);
			@include justify-content(space-between);
		}
	}

	&__bonus {
		margin-bottom: 30px;

		&_image {
			max-width: 500px;
			margin: 0 auto 20px auto;
		}

		.btn {
			width: 166px;
		}
	}

	&__nav {
		z-index: 10;
		width: 36px;
		height: 36px;
		border: none;
		outline: none;
		font-size: 0;
		line-height: 0;
		cursor: pointer;
		position: relative;
		display: inline-block;
		background: #eff1f7 url("../img/icon__collapse_toggle.png") 50% 50% no-repeat;
		@include border-radius(50%);

		&:hover {
			background-color: #ffcc00;
		}

		&_prev {
			@include rotate(90deg);
		}

		&_next {
			@include rotate(-90deg);
		}
	}

	&.close {

		.collapse__header_toggle {
			@include rotate(180deg);
			@include transition(.3s);
		}

		.collapse__header_nav {
			opacity: 0;
			visibility: hidden;
		}
	}

	@media (min-width: $screen-sm-min) {

		&__header {
			font-size: 2.4rem;
			padding: 20px 40px;

			&_nav {
				top: 50%;
				left: 50%;
				width: 112px;
				height: 36px;
				position: absolute;
				margin: -18px 0 0 -56px;
				@include flexbox();
				@include align-items(center);
				@include justify-content(space-between);
			}
		}

		&__content {
			padding: 0 40px 30px 40px;

			&_line {
				margin: 0 -40px;
			}

			&_nav {
				display: none;
			}
		}

		&__bonus {
			margin-bottom: 0;
		}
	}
}

.form_lng {
	z-index: 100;
	position: relative;

	&__active {
		margin: 0;
		width: 100%;
		height: 40px;
		outline: none;
		color: #363636;
		cursor: pointer;
		background: #fff;
		font-size: 1.3rem;
		line-height: 2rem;
		display: inline-block;
		vertical-align: middle;
		border: 1px solid #e9e9e9;
		padding: 9px 30px 9px 18px;
		@include flexbox();
		@include align-items(center);
		@include border-radius(4px);

		i {
			width: 16px;
			height: 16px;
			font-size: 0;
			line-height: 0;
			overflow: hidden;
			margin-right: 10px;
			display: inline-block;
			@include border-radius(50%);
			@include flex-shrink(0);
		}

		span {
			max-width: 100%;
			overflow: hidden;
			display: inline-block;
			text-overflow: ellipsis;
		}

		&:before {
			top: 50%;
			right: 12px;
			width: 9px;
			height: 5px;
			content: '';
			margin-top: -2px;
			position: absolute;
			display: inline-block;
			background: url("../img/icon__select_arrow.png") 0 0 no-repeat;
		}
	}

	&__dropdown {
		left: 0;
		margin: 0;
		padding: 0;
		opacity: 0;
		min-width: 100%;
		list-style: none;
		overflow: hidden;
		background: #fff;
		visibility: hidden;
		position: absolute;
		top: calc(100% + 2px);
		border: 1px solid #e9e9e9;
		@include transition(.3s);
		@include border-radius(4px);
		@include box-shadow(0px 8px 10px 0px rgba(0, 0, 0, 0.25));

		li {
			height: 36px;
			padding: 5px 18px;
			@include flexbox();
			@include align-items(center);


			i {
				width: 16px;
				height: 16px;
				font-size: 0;
				line-height: 0;
				overflow: hidden;
				margin-right: 10px;
				display: inline-block;
				@include border-radius(50%);
				@include flex-shrink(0);
			}

			span {
				max-width: 100%;
				overflow: hidden;
				display: inline-block;
				text-overflow: ellipsis;
			}

			&:hover {
				background: #e9e9e9;
			}
		}
	}

	&.open {

		.form_lng__dropdown {
			opacity: 1;
			visibility: visible;
			@include transition(.3s);
		}
	}
}

.present_actions {
	padding: 55px 0 0 0;
	list-style: none;
	margin: 0 -5px;
	@include flexbox();

	&__title {
		color: #363636;
		font-weight: 600;
		font-size: 1.3rem;
		line-height: 1.6rem;
		margin-bottom: 20px;
	}

	li {
		width: 50%;
		padding: 0 5px;
	}

	@media (min-width: $screen-sm-min) {
		margin: 0 -15px;

		li {
			padding: 0 15px;
		}
	}

	@media (min-width: $screen-md-min) {

	}

	@media (min-width: $screen-lg-min) {
		margin: 0 -5px;

		li {
			padding: 0 5px;
		}
	}

	@media (min-width: $screen-xl-min) {
		margin: 0 -15px;

		li {
			padding: 0 15px;
		}
	}
}

.bnr_item {

	&__image {
		display: block;
		margin: 0 auto;
		max-width: 500px;
	}

	&__title {
		color: #363636;
		padding: 15px 0;
		font-weight: 600;
		font-size: 1.3rem;
		text-align: center;
		line-height: 2rem;
	}

	.btn {
		width: 166px;
		margin: 0 auto;
	}
}

.brand_item {

	&__image {
		display: block;
		margin: 0 auto;
		max-width: 400px;
	}

	&__title {
		color: #363636;
		padding: 15px 0;
		font-weight: 600;
		font-size: 1.3rem;
		text-align: center;
		line-height: 2rem;
	}

	.btn {
		width: 166px;
		margin: 0 auto;
	}
}

.bnr_slider {

	.swiper-pagination {
		left: auto;
		right: auto;
		bottom: auto;
		font-size: 0;
		line-height: 0;
		padding-top: 20px;
		position: relative;
	}

	.swiper-pagination-bullet-active {
		background: #ffcc00;
	}

	@media (min-width: $screen-sm-min) {

		.swiper-pagination {
			display: none;
		}
	}
}

.brand {

	.swiper-pagination {
		left: auto;
		right: auto;
		bottom: auto;
		font-size: 0;
		line-height: 0;
		padding-top: 20px;
		position: relative;
	}

	.swiper-pagination-bullet-active {
		background: #ffcc00;
	}

	@media (min-width: $screen-sm-min) {

		.swiper-pagination {
			display: none;
		}
	}
}

.search {
	width: 100%;
	position: relative;
	padding-right: 4px;
	border: 1px solid #e9e9e9;
	@include border-radius(3px);
	@include flexbox();
	@include align-items(center);

	.form_control {
		border: none;
		height: 38px;
	}

	.btn {

	}

	@media (min-width: $screen-sm-min) {
		width: 400px;
	}
}



@media (min-width: $screen-sm-min) {

}

@media (min-width: $screen-md-min) {

}

@media (min-width: $screen-lg-min) {

}

@media (min-width: $screen-xl-min) {

}