.header {
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	position: fixed;
	border-bottom: 1px solid transparent;
	background: transparent;
	
	&__row {
		height: 60px;
		z-index: 20;
		position: relative;
		@include flexbox();
		@include align-items(center);
		@include justify-content(space-between);
	}
	
	&__left {
		height: 60px;
		position: relative;
		@include flexbox();
		@include align-items(center);
		@include justify-content(space-between);
	}
	
	&__right {
		height: 60px;
		padding-right: 50px;
		position: relative;
		@include flexbox();
		@include align-items(center);
		@include justify-content(space-between);
	}
	
	
	&__logo {
		width: 180px;
		margin: 0 20px 0 -10px;
		@include flex-shrink(0);
	}
	
	&__time {
		display: none;
		color: #637b9b;
		font-weight: 400;
		font-size: 1.3rem;
		line-height: 2rem;
		padding-left: 28px;
		white-space: nowrap;
		background: url("../img/icon__time_white.png") 0 50% no-repeat;
		
		span {
			color: #fff;
			font-weight: 400;
		}
	}

	
	&__id {
		display: none;
		color: #637b9b;
		font-size: 1.4rem;
		line-height: 2rem;
		margin-right: 20px;
		text-decoration: none;
		padding: 5px 0 5px 25px;
		background: url("../img/icon__user.png") 0 50% no-repeat;
		
		&:hover {
			color: #637b9b;
			text-decoration: none;
		}
	}
	
	&__verified {
		color: #fff;
		font-size: 1.1rem;
		font-weight: 700;
		line-height: 1.8rem;
		white-space: nowrap;
		background: #71ca1f;
		position: relative;
		display: inline-block;
		padding: 5px 10px 5px 30px;
		text-transform: uppercase;
		@include flex-shrink(0);
		@include border-radius(14px);
		
		&:before {
			top: 6px;
			left: 10px;
			content: '';
			width: 16px;
			height: 16px;
			position: absolute;
			display: inline-block;
			background: #fff url("../img/icon__ok.svg") 50% 50% no-repeat;
			@include border-radius(50%);
		}
	}
	
	&__auth {
		display: none;
		width: 30px;
		height: 30px;
		opacity: 0.3;
		background: url("../img/icon__auth.png") 50% 50% no-repeat;
		
		&:hover {
			opacity: 1;
			@include transition(.3s);
		}
	}
	
	&__toggle {
		top: 0;
		width: 60px;
		height: 60px;
		font-size: 0;
		right: -15px;
		line-height: 0;
		cursor: pointer;
		position: absolute;
		display: inline-block;
		
		&:after,
		&:before {
			left: 50%;
			z-index: 10;
			width: 24px;
			height: 2px;
			content: '';
			background: #fff;
			margin-left: -12px;
			position: absolute;
			display: inline-block;
			@include transition(.3s);
		}
		
		&:after {
			top: 20px;
		}
		
		&:before {
			bottom: 20px;
		}
		
		span {
			top: 50%;
			left: 50%;
			z-index: 10;
			width: 24px;
			height: 2px;
			content: '';
			background: #fff;
			margin-top: -1px;
			margin-left: -12px;
			position: absolute;
			display: inline-block
		}
	}
	
	
	@media (min-width: $screen-sm-min) {
		
		&__time {
			display: inline-block;
		}
		
		&__id {
			display: inline-block;
		}
		
		&__auth {
			display: inline-block;
		}
	}
	
	
	@media (min-width: $screen-lg-min) {
		position: absolute;
	
		&__toggle {
			display: none;
		}
		
		&__right {
			padding: 0;
		}
	}
	
	@media (min-width: $screen-xl-min) {
		
		&__level {
			display: inline-block;
		}
	}
}


.header_nav {
	left: 50%;
	top: -83px;
	width: 252px;
	height: 252px;
	z-index: 1000;
	display: none;
	position: absolute;
	margin-left: -126px;
	background: #f2c433;
	border: 4px solid #f6d542;
	@include border-radius(50%);
//	@include box-shadow(0px 2px 12px 0px rgba(0, 0, 0, 0.2));
	@include box-shadow( 0px 2px 16px 0px rgba(0, 0, 0, 0.2));
	
	&__user {
		left: 50%;
		bottom: 94px;
		width: 64px;
		height: 64px;
		z-index: 500;
		display: block;
		overflow: hidden;
		position: absolute;
		margin-left: -32px;
		background: #25354f;
		padding: 4px;
		@include border-radius(50%);
		@include gradient-vertical(#1f66ba,#113867);
		@include box-shadow( 0px 13px 30px 0px rgba(0, 0, 0, 0.7));
		
		&_wrap {
			width: 56px;
			height: 56px;
			display: block;
			overflow: hidden;
			background: #25354f;
			@include border-radius(50%);
			@include box-shadow( inset 0px 7px 18px 0px rgba(0, 0, 0, 0.25));
		}
	}
	
	&__wrap {
		left: 50%;
		bottom: 42px;
		z-index: 100;
		width: 168px;
		height: 168px;
		position: absolute;
		background: #146de4;
		margin-left: -84px;
		@include border-radius(50%);
		@include box-shadow(0px 0px 20px 0px rgba(0, 0, 0, 0.55));
	}
	
	&__inner {
		left: 50%;
		bottom: 48px;
		z-index: 150;
		width: 156px;
		height: 156px;
		position: absolute;
		background: #1b232e url("../img/header_nav__bg.svg") 50% 100% no-repeat;
		margin-left: -78px;
		@include border-radius(50%);
		@include box-shadow(0px 0px 5px 0px rgba(0, 0, 0, 0.7));
	}
	
	&__hover {
		top: 50%;
		left: 50%;
		z-index: 1;
		width: 156px;
		height: 156px;
		opacity: 0;
		visibility: hidden;
		position: absolute;
		margin: -78px 0 0 -78px;
		background: transparent url("../img/nav_hover__bg.png") 50% 50% no-repeat;
		
		&.nav_item_01 {
			opacity: 1;
			visibility: visible;
			@include rotate(120deg);
		}
		
		&.nav_item_02 {
			opacity: 1;
			visibility: visible;
			@include rotate(60deg);
		}
		
		&.nav_item_03 {
			opacity: 1;
			visibility: visible;
		}
		
		&.nav_item_04 {
			opacity: 1;
			visibility: visible;
			@include rotate(-60deg);
		}
		
	}
	
	&__icon {
		z-index: 10;
		width: 40px;
		height: 36px;
		position: absolute;
		display: inline-block;
		
		&:after {
			left: 50%;
			content: '';
			z-index: 100;
			opacity: 0;
			visibility: hidden;
			margin-left: -8px;
			position: absolute;
			border: 10px solid transparent;
			border-top: 10px solid #146de4;
		}
		
		&:before {
			top: 50%;
			left: 50%;
			content: '';
			opacity: 0.3;
			position: absolute;
			@include transition(.3s);
		}
		
		span {
			width: 90px;
			height: 40px;
			position: absolute;
			display: inline-block;
			background: transparent;
		}
		
		&.hover,
		&:hover {
			
			&:before {
				opacity: 1;
				@include transition(.3s);
			}
			
			&:after {
				opacity: 1;
				visibility: visible;
			}
		}
		
		&.icon_one {
			top: 57px;
			left: 0px;
			
			&:before {
				width: 22px;
				height: 22px;
				margin: -11px 0 0 -11px;
				background: url("../img/nav__icon_01.png") 50% 50% no-repeat;
				background-size: cover;
			}
			
			&:after {
				top: 12px;
				left: -17px;
				@include rotate(90deg);
			}
			
			span {
				left: -60px;
				@include rotate(90deg);
			}
		}
		
		
		&.icon_two {
			top: 107px;
			left: 30px;
			
			&:before {
				width: 20px;
				height: 20px;
				margin: -10px 0 0 -10px;
				background: url("../img/nav__icon_02.png") 50% 50% no-repeat;
				background-size: cover;
			}
			
			&:after {
				top: 40px;
				left: -2px;
				@include rotate(32deg);
			}
			
			span {
				top: 30px;
				left: -40px;
				@include rotate(32deg);
			}
		}
		
		&.icon_three {
			top: 107px;
			right: 30px;
			
			&:before {
				width: 20px;
				height: 18px;
				margin: -9px 0 0 -10px;
				background: url("../img/nav__icon_03.png") 50% 50% no-repeat;
				background-size: cover;
			}
			
			&:after {
				top: 40px;
				left: 38px;
				@include rotate(-37deg);
			}
			
			
			span {
				top: 30px;
				left: -5px;
				@include rotate(-32deg);
			}
		}
		
		&.icon_four {
			top: 57px;
			right: 0;
			
			&:before {
				width: 20px;
				height: 18px;
				margin: -9px 0 0 -10px;
				background: url("../img/nav__icon_04.png") 50% 50% no-repeat;
				background-size: cover;
			}
			
			&:after {
				top: 12px;
				left: 53px;
				@include rotate(-90deg);
			}
			
			span {
				left: 10px;
				@include rotate(90deg);
			}
		}
	}
	
	&__text {
		z-index: 20;
		width: 90px;
		color: #363636;
		padding: 8px 5px 8px 5px;
		font-size: 1.4rem;
		line-height: 2rem;
		position: absolute;
		text-align: center;
		display: inline-block;
		text-decoration: none;
	//	@include transition(.3s);
		
		span {
			z-index: 10;
			position: relative;
		}
		
		
		&:before {
			opacity: 0;
			z-index: 1;
			content: '';
			position: absolute;
			display: inline-block;
			@include transition(.3s);
		}
		
		&.hover,
		&:hover {
			color: #fff;
			text-decoration: none;
		//	@include transition(.3s);
			
			&:before {
				opacity: 1;
				@include transition(.3s);
			}
		}
		
		&.text_one {
			top: 105px;
			left: -25px;
			@include rotate(-90deg);
			
			&:before {
				top: -48px;
				left: 33px;
				width: 21px;
				height: 90px;
				background: url("../img/header__nav_selector_01.png") 0 0 no-repeat;
				@include rotate(87deg);
			}
		}
		
		&.text_two {
			top: 187px;
			left: 25px;
			@include rotate(30deg);
			
			&:before {
				top: 5px;
				left: 0;
				width: 86px;
				height: 56px;
				@include rotate(34deg);
				background: url("../img/header__nav_selector.png") 0 0 no-repeat;
			}
		}
		
		&.text_three {
			top: 187px;
			right: 25px;
			@include rotate(-30deg);
			
			&:before {
				top: 5px;
				left: 5px;
				width: 86px;
				height: 56px;
				@include rotate(30deg);
				background: url("../img/header__nav_selector.png") 0 0 no-repeat;
			}
		}
		
		
		&.text_four {
			top: 105px;
			right: -25px;
			@include rotate(-90deg);
			
			&:before {
				top: -6px;
				left: 37px;
				width: 21px;
				height: 90px;
				background: url("../img/header__nav_selector_01.png") 0 0 no-repeat;
				@include rotate(-90deg);
			}
		}
	}
	
	@media (min-width: $screen-lg-min) {
		display: block;
	}
	
	@media (min-width: $screen-xl-min) {
	
	}
}


.nav_animate {
	left: 50%;
	top: -292px;
	z-index: 10;
	width: 670px;
	height: 670px;
	display: none;
	position: absolute;
	margin-left: -335px;
	
	&__one {
		top:50%;
		left: 50%;
		z-index: 10;
		width: 670px;
		height: 670px;
		position: absolute;
		margin: -335px 0 0 -335px;
		background: url("../img/header__animate_elem_01.png") 50% 50% no-repeat;
	
		@include animation-name(cog);
		@include animation-duration(20s);
		@include animation-iteration-count(infinite);
		@include animation-timing-function(linear);
	}
	
	&__two {
		top:50%;
		left: 50%;
		z-index: 9;
		width: 670px;
		height: 670px;
		position: absolute;
		margin: -335px 0 0 -335px;
		background: url("../img/header__animate_elem_02.png") 50% 50% no-repeat;
		
		@include animation-name(cog);
		@include animation-duration(26s);
		@include animation-iteration-count(infinite);
		@include animation-timing-function(linear);
	}
	
	&__three {
		top:50%;
		left: 50%;
		z-index: 8;
		width: 670px;
		height: 670px;
		position: absolute;
		margin: -335px 0 0 -335px;
		background: url("../img/header__animate_elem_03.png") 50% 50% no-repeat;
		
		@include animation-name(light);
		@include animation-duration(30s);
		@include animation-iteration-count(infinite);
		@include animation-timing-function(linear);
	}
	
	@media (min-width: $screen-lg-min) {
	//	display: block;
	}
}


@-ms-keyframes cog {
	from { -ms-transform: rotate(0deg); }
	to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes cog {
	from { -moz-transform: rotate(0deg); }
	to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes cog {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(360deg); }
}
@keyframes cog {
	from {
		transform:rotate(0deg);
	}
	to {
		transform:rotate(360deg);
	}
}



@-ms-keyframes light {
	0% {
		opacity: 1;
		-ms-transform: rotate(0deg);
	}
	15% {
		opacity: 0;
	}
	30% {
		opacity: 1;
	}
	45% {
		opacity: 0;
	}
	60% {
		opacity: 1;
	}
	80% {
		opacity: 0;
	}
	100% {
		opacity: 1;
		-ms-transform: rotate(360deg);
	}
}

@-moz-keyframes light {
	0% {
		opacity: 1;
		-moz-transform: rotate(0deg);
	}
	15% {
		opacity: 0;
	}
	30% {
		opacity: 1;
	}
	45% {
		opacity: 0;
	}
	60% {
		opacity: 1;
	}
	80% {
		opacity: 0;
	}
	100% {
		opacity: 1;
		-moz-transform: rotate(360deg);
	}
}

@-webkit-keyframes light {
	0% {
		opacity: 1;
		-webkit-transform: rotate(0deg);
	}
	15% {
		opacity: 0;
	}
	30% {
		opacity: 1;
	}
	45% {
		opacity: 0;
	}
	60% {
		opacity: 1;
	}
	80% {
		opacity: 0;
	}
	100% {
		opacity: 1;
		-webkit-transform: rotate(360deg);
	}
}

@keyframes light {
	0% {
		opacity: 1;
		transform:rotate(0deg);
	}
	15% {
		opacity: 0;
	}
	30% {
		opacity: 1;
	}
	45% {
		opacity: 0;
	}
	60% {
		opacity: 1;
	}
	80% {
		opacity: 0;
	}
	100% {
		opacity: 1;
		transform:rotate(360deg);
	}
}