.user_status {
	height: 28px;
	margin-left: 10px;
	font-size: 1.1rem;
	font-weight: 700;
	line-height: 1.8rem;
	white-space: nowrap;
	position: relative;
	display: inline-block;
	padding: 5px 10px 5px 30px;
	text-transform: uppercase;
	@include flex-shrink(0);
	@include border-radius(14px);

	&:before {
		top: 6px;
		left: 10px;
		content: '';
		width: 16px;
		height: 16px;
		position: absolute;
		display: inline-block;
		@include border-radius(50%);
	}

	&__verified {
		color: #fff;
		background: #71ca1f;

		&:before {
			background: #fff url("../img/icon__ok.svg") 50% 50% no-repeat;
		}
	}

	&__processing {
		color: #fff;
		background: #aeb2c5;

		&:before {
			background: #fff url("../img/icon__processing.png") 50% 50% no-repeat;
		}
	}

	&__unverified {
		color: #fff;
		background: #e43443;

		&:before {
			background: #fff url("../img/icon__unverified.png") 50% 50% no-repeat;
		}
	}
}

.dashboard {

	@media (min-width: $screen-xl-min) {

		.row {
			margin: 0 -20px;
		}

		.col-gutter-lr {
			padding: 0 20px;
		}
	}
}

.informer {
	background: #fff;
	position: relative;
	margin-bottom: 30px;
	@include border-radius(4px);
	@include box-shadow(0px 2px 5px 0px rgba(0, 0, 0, 0.05));

	&_lg {
		min-height: 296px;
	}

	&_blue {
		background: #226dc5 url("../img/dashboard__blue.png") 0 100% no-repeat;
		@include box-shadow(0px 20px 30px 0px rgba(34, 109, 197, 0.2));
	}

	&_green {
		background: #73be31 url("../img/dashboard__green.png") 0 100% no-repeat;
		@include box-shadow(0px 20px 30px 0px rgba(114, 190, 49, 0.2));
	}

	&_yellow {
		background: #f2c333 url("../img/dashboard__yellow.png") 0 100% no-repeat;
		@include box-shadow(0px 20px 30px 0px rgba(242, 196, 51, 0.2));
	}

	&_white {
		@include box-shadow(0px 20px 30px 0px rgba(0, 0, 0, 0.05));
	}

	&__large {
		z-index: 10;
		height: 128px;
		padding: 25px 20px;
		position: relative;
		@include flexbox();
		@include align-items(center);
		@include justify-content(space-between);
	}

	&__data {
		font-size: 0;
		line-height: 0;

		span {
			color: #fff;
			display: block;
			font-weight: 600;
			font-size: 1.2rem;
			line-height: 1.6rem;
			white-space: nowrap;
			margin-bottom: 4px;
			text-transform: uppercase;
		}

		strong {
			color: #fff;
			display: block;
			font-weight: 300;
			font-size: 3.6rem;
			line-height: 3.6rem;
			white-space: nowrap;
		}
	}

	&__mini {
		padding: 10px 10px;
		@include flexbox();
		@include flex-wrap(wrap);

		&_elem {
			width: 50%;
			padding: 7px 10px 7px 44px;

			span {
				display: block;
				color: #8e9aa9;
				font-weight: 600;
				font-size: 1.2rem;
				line-height: 1.6rem;
				white-space: nowrap;
				margin-bottom: 4px;
				text-transform: uppercase;
			}

			strong {
				color: #363636;
				display: block;
				font-weight: 300;
				font-size: 1.8rem;
				line-height: 2rem;
				white-space: nowrap;
			}
		}

		&_01 {
			background: url("../img/dash_icon_mini__01.png") 10px 50% no-repeat;
		}

		&_02 {
			background: url("../img/dash_icon_mini__02.png") 10px 50% no-repeat;
		}

		&_03 {
			background: url("../img/dash_icon_mini__03.png") 10px 50% no-repeat;
		}

		&_04 {
			background: url("../img/dash_icon_mini__04.png") 10px 50% no-repeat;
		}
	}

	&__notice {
		padding: 30px 0px 10px 40px;

		&_heading {
			color: #363636;
			font-weight: 600;
			font-size: 1.5rem;
			line-height: 1.6rem;
			margin-bottom: 30px;
		}

		&_scroll {
			height: 190px;
			position: relative;

			&:before {
				left: 0;
				right: 4px;
				bottom: 0;
				//		content: '';
				z-index: 50;
				height: 50px;
				position: absolute;
				opacity: 0.7;
				//	background: url("../img/notice_line__bg.png") 0 100% repeat-x;
			}
		}

		.mCS-autoHide > .mCustomScrollBox > .mCSB_scrollTools,
		.mCS-autoHide > .mCustomScrollBox ~ .mCSB_scrollTools {
			//	left: 0;
			//	right: auto;
		}
	}

	&__stage {
		padding: 20px 30px 5px 15px;
		@include flexbox();
		@include align-items(center);

		&_data {
			width: 96px;
			height: 94px;
			color: #ffcc01;
			text-align: center;
			padding-top: 23px;
			background: url("../img/informer_level__bg.png") 50% 50% no-repeat;
			@include flex-shrink(0);

			span {
				display: block;
				font-size: 0.9rem;
				line-height: 1rem;
				text-transform: uppercase;
			}

			strong {
				display: block;
				font-weight: 400;
				font-size: 3.2rem;
				line-height: 3.2rem;
			}
		}

		&_text {
			margin: 0;
			padding: 0 0 0 15px;
			color: #8e9aa9;
			list-style: none;
			font-size: 1.1rem;
			line-height: 1.8rem;
			@include flex-grow(1);

			strong {
				color: #363636;
				font-weight: 400;
			}
		}

	}

	&__chart {
		padding-top: 20px;
		padding-bottom: 20px;
		@include flexbox();
		@include justify-content(center);

		&_item {
			width: 100px;
			margin: 0 10px;
		}

		&_doughnut {
			width: 80px;
			position: relative;
			margin: 0 auto 5px auto;
		}

		&_value {
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			color: #8e9aa9;
			font-size: 1rem;
			line-height: 1.6rem;
			text-align: center;
			padding: 20px 10px;
			position: absolute;
			background-size: cover;
			@include flexbox();
			@include flex-direction(column);

			&_wrap {
				margin: auto 0;
			}

			strong {
				color: #363636;
				display: block;
				font-weight: 700;
				font-size: 1.8rem;
				line-height: 2rem;
			}

			span {
				display: block;
			}
		}

		&_legend {
			color: #8e9aa9;
			font-size: 1.2rem;
			line-height: 1.8rem;
			text-align: center;

			strong {
				color: #006dff;
				font-size: 1.8rem;
			}
		}
	}

	&__index {
		margin: 0;
		width: 100%;
		padding: 15px 10px;
		list-style: none;
		@include flexbox();
		@include justify-content(space-evenly);

		> li {
			font-size: 1.2rem;
			line-height: 1.6rem;
			text-align: center;
		}

		span {
			color: #8e9aa9;
			display: block;
			font-size: 1.1rem;
			font-weight: 600;
			line-height: 1.6rem;
		//	text-transform: uppercase;
		}

		strong {
			color: #363636;
			display: block;
			font-size: 1.8rem;
			font-weight: 300;
			line-height: 2rem;
			margin-bottom: 5px;
		}

		&_text {
			padding-top: 5px;
		}

		&_image {
			width: 92px;
			margin: 0 auto;
			position: relative;
		}

		&_bg {
			z-index: 1;
			width: 100%;
			position: relative;
			@include animation-name(cog);
			@include animation-duration(7s);
			@include animation-iteration-count(infinite);
			@include animation-timing-function(linear);
		}

		&_icon {
			top: 0;
			left: 0;
			right: 0;
			z-index: 10;
			position: absolute;
		}
	}

	&__level {
		width: 122px;
		height: 127px;
		color: #ffcc00;
		font-size: 1.2rem;
		line-height: 1.6rem;
		text-align: center;
		padding-top: 25px;
		background: url("../img/informer_level__bg.png") 50% 0 no-repeat;

		strong {
			display: block;
			font-weight: 600;
			font-size: 4.8rem;
			line-height: 4.8rem;
		}

		span {
			display: block;
			font-size: 1.2rem;
			line-height: 1.6rem;
			text-transform: uppercase;
		}
	}

	@media (min-width: $screen-sm-min) {

		&__large {
			padding-left: 40px;
		}

		&__index {

			> li {
				padding: 0 10px;
				text-align: left;
				@include flexbox();
				@include align-items(center);
			}

			&_text {
				text-align: left;
				white-space: nowrap;
				padding: 0 0 0 10px;
			}

			.image {
				margin: 0;
				@include flex-shrink(0);
			}

			span {
				font-size: 1.2rem;
				text-transform: uppercase;
			}
		}
	}

	@media (min-width: $screen-lg-min) {
		margin-bottom: 40px;

		&__large {
			padding-left: 20px;
		}

		&__notice {
			padding-left: 20px;
		}

		&__mini {

			&_elem {
				strong {
					font-size: 1.6rem;
				}
			}
		}

		&__index {
			@include justify-content(center);

			> li {
				padding: 0 25px;
			}
		}
	}

	@media (min-width: $screen-xl-min) {


		&__large {
			padding-left: 40px;
		}

		&__notice {
			padding-left: 40px;
			padding-right: 40px;
		}

		&__mini {

			&_elem {
				strong {
					font-size: 1.8rem;
				}
			}
		}

		&__index {

			strong {
				font-size: 1.8rem;
			}
		}
	}
}

.informer_chart {
	padding: 25px 20px;

	&__legend {
		margin-bottom: 25px;
		margin-right: -20px;
		@include flexbox();
		@include flex-wrap(wrap);
		@include align-items(center);
		@include justify-content(space-between);

		&_title {
			color: #363636;
			font-weight: 600;
			font-size: 1.6rem;
			line-height: 2rem;
			padding-right: 10px;
		}

		&_values {
			margin: 0;
			padding: 0;
			color: #8e9aa9;
			font-size: 1.2rem;
			line-height: 2rem;
			list-style: none;
			@include flexbox();
			@include align-items(center);

			> li {
				white-space: nowrap;
				padding: 0 20px;
				position: relative;
				@include flexbox();
				@include align-items(center);

				&:before {
					left: 0;
					top: 50%;
					content: '';
					width: 10px;
					height: 10px;
					margin-top: -5px;
					position: absolute;
					@include border-radius(50%);
				}

				&:first-child {

					&:before {
						background: #278fea;
					}
				}

				&:last-child {

					&:before {
						background: #ffea00;
					}
				}

				&.no_point {

					&:before {
						opacity: 0;
						padding-left: 0;
						visibility: hidden;
						display:  none !important;
					}
				}
			}

			strong {
				color: #363636;
				font-weight: 400;
				font-size: 2rem;
				line-height: 3rem;
				margin-right: 10px;
				display: inline-block;
			}

			span {
				display: inline-block;
			}
		}
	}

	&__content {

	}

	@media (min-width: $screen-sm-min) {
		padding: 25px 40px;

		&__legend {

			&_values {
				font-size: 1.4rem;

				strong {
					font-size: 3rem;
				}
			}
		}
	}

	@media (min-width: $screen-lg-min) {
		min-height: 360px;
	}

	@media (min-width: $screen-xl-min) {
		min-height: 420px;
	}
}

.dashboard_icon {
	width: 92px;
	height: 76px;
	font-size: 0;
	line-height: 0;
	display: block;
	background: url("../img/dashboard__icon_bg.png") 50% 50% no-repeat;
	@include flex-shrink(0);
}

.notice_line {
	margin: 0;
	padding: 0 20px 0 0;
	max-width: 340px;
	color: #8e9aa9;
	list-style: none;
	font-size: 1.2rem;
	line-height: 1.6rem;

	&__title {
		color: #ffcc00;
		font-weight: 600;
		font-size: 1.3rem;
		margin-bottom: 5px;
	}

	&__date {
		color: #363636;
		margin-top: 5px;
		font-size: 1.3rem;
	}

	> li {
		position: relative;
		padding: 0 0 15px 30px;

		&:before {
			left: 0;
			top: 4px;
			content: '';
			width: 10px;
			height: 10px;
			position: absolute;
			background: #ffcc00;
			display: inline-block;
			@include border-radius(50%);
		}

		&:after {
			top: 16px;
			left: 4px;
			width: 2px;
			content: '';
			bottom: -2px;
			position: absolute;
			background: #f2f2f2;
			display: inline-block;
		}

		&:last-child {

			&:after {
				display: none;
			}
		}
	}
}

.box {
	height: 420px;
	background: #fff;
	position: relative;
	margin-bottom: 30px;
	@include border-radius(4px);
	@include box-shadow(0px 2px 5px 0px rgba(0, 0, 0, 0.05));

	&__heading {
		color: #363636;
		font-size: 16px;
		font-weight: 600;
		line-height: 20px;
		padding: 28px 20px;
	}


	&__content {
		padding-bottom: 20px;

		&_empty {
			color: #8e9aa9;
			padding: 25px 30px;
			font-size: 1.3rem;
			line-height: 2rem;
			text-align: center;
		}
	}

	&__empty {
		height: auto;

		&_wrap {
			padding: 20px;
			border: 1px solid #8e9aa9;
		}
	}

	@media (min-width: $screen-sm-min) {

		&__heading {
			padding: 28px 40px;
		}
	}

	@media (min-width: $screen-lg-min) {
		height: 360px;

		&__empty {
			height: auto;
		}
	}

	@media (min-width: $screen-xl-min) {
		height: 420px;
		margin-bottom: 40px;

		&__empty {
			height: auto;
		}
	}
}

.table_box {

	&__header {

		table {
			width: 100%;
			border-collapse: collapse;

			td {
				width: 25%;
				border: none;
				height: 40px;
				color: #8e9aa9;
				white-space: nowrap;
				padding: 10px 10px;
				font-size: 1.3rem;
				line-height: 2rem;
			//	text-transform: uppercase;
				vertical-align: middle;
				border-bottom: 1px dotted #8e9aa9;
			}

			&__wrap {
				@include flexbox();
				@include align-items(center);

				i {
					font-size: 0;
					line-height: 0;
					padding-right: 8px;
					display: inline-block;
				}

				span {
					display: inline-block;
				}
			}
		}
	}

	&__scroll {
		padding-right: 5px;
		max-height: 320px;
	}

	&__content {

		table {
			width: 100%;
			border-collapse: collapse;

			td {
				width: 25%;
				color: #363636;
				white-space: nowrap;
				padding: 10px 10px;
				font-size: 1.3rem;
				line-height: 2rem;
				border-bottom: 1px dotted #8e9aa9;;

			}

			@media (max-width: 575px) {
				display: block;

				tbody {
					width: 100%;
					display: block;
				}

				tr {
					display: block;
					margin-bottom: 20px;
					border: 2px solid #8e9aa9;
				}

				td {
					width: 100%;
					border-bottom: 1px solid #8e9aa9;
					@include flexbox();
					@include align-items(center);
					@include justify-content(space-between);

					&:last-child {
						border-bottom: none;
					}

					&:before {
						font-weight: 700;
						padding-right: 10px;
						display: inline-block;
						content: attr(data-header);
					}

					span {
						display: inline-block;
					}
				}
			}
		}
	}

	&__middle {
		@include flexbox();
		@include align-items(center);

		i {
			width: 20px;
			height: 20px;
			font-size: 0;
			line-height: 0;
			overflow: hidden;
			margin-right: 8px;
			display: inline-block;
			@include border-radius(50%);
			@include box-shadow(0px 6px 8px 0px rgba(0, 0, 0, 0.06));
		}

		span {
			display: inline-block;
		}
	}

	@media (max-width: 575px) {

		&__header {
			display: none;
		}

		&__middle {

			i {
				display: none;
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		&__header {

			table {

				td {
					position: relative;

					&:first-child {
						padding-left: 40px;

						&:before {
							left: 0;
							top: 100%;
							content: '';
							z-index: 10;
							height: 1px;
							width: 35px;
							display: block;
							background: #fff;
							position: absolute;
						}
					}

					&:last-child {
						padding-right: 40px;

						&:before {
							right: 0;
							top: 100%;
							content: '';
							z-index: 10;
							height: 1px;
							width: 35px;
							display: block;
							background: #fff;
							position: absolute;
						}
					}
				}
			}
		}

		&__content {

			table {

				td {
					position: relative;
					vertical-align: middle;

					span {
						display: inline-block;
					}

					&:first-child {
						padding-left: 40px;

						&:before {
							left: 0;
							top: 100%;
							content: '';
							z-index: 10;
							height: 1px;
							width: 35px;
							display: block;
							background: #fff;
							position: absolute;
						}
					}

					&:last-child {
						padding-right: 40px;

						&:before {
							right: 0;
							top: 100%;
							content: '';
							z-index: 10;
							height: 1px;
							width: 35px;
							display: block;
							background: #fff;
							position: absolute;
						}
					}
				}

				tr {
					vertical-align: middle;

					&:hover {

						td {
							background: #fff8dc;
						}
					}

					&:last-child {

						td {
							border-bottom: none;
						}
					}
				}
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		&__scroll {
			max-height: 200px;
		}
	}

	@media (min-width: $screen-xl-min) {

		&__scroll {
			max-height: 266px;
		}
	}
}


.table_box_icon {



	@media (max-width: 575px) {
		display: none;
	}
}


.bars {
	margin: 0;
	padding: 0;
	width: auto;
	//	height: 200px;
	list-style: none;
	display: inline-block;
	border-bottom: 1px solid #efefef;
	background: url('../img/bars.png') bottom left repeat-x;

	li {
		margin: 0;
		width: 150px;
		height: 200px;
		display: table-cell;
		text-align: center;
		position: relative;
		border-right: 1px solid #efefef;

		.bar {
			left: 50%;
			bottom: 0;
			height: 0;
			width: 20px;
			z-index: 2000;
			display: block;
			margin-left: 0;
			background: #49E;
			position: absolute;
			border-top: 2px solid #ffcc00;
			background: rgba(244,67,54,0.5);
			-webkit-transition: height 1s ease-in-out;
			-moz-transition: height 1s ease-in-out;
			-o-transition: height 1s ease-in-out;
			transition: height 1s ease-in-out;
			transform: translate(-50%,0%);
			background: linear-gradient(to top, rgba(255,204,0,0.01), rgba(255,204,0,0.3));
		}

		span {
			left: 0;
			width: 100%;
			bottom: -40px;
			color: #637b9b;
			position: absolute;
			text-align: center;
		}
	}

	@media  (max-width: 576px) {

		li span {
			transform: rotate(90deg);
		}
	}
	@media (min-width: $screen-xl-min) {

		li {
			height: 270px;
		}
	}
}

.chart {
	display: block;
	padding: 0px 0px 32px 0px;
}



.mCSB_scrollTools {
	width: 4px;

}

.mCSB_outside + .mCS-minimal.mCSB_scrollTools_vertical,
.mCSB_outside + .mCS-minimal-dark.mCSB_scrollTools_vertical {
	margin: 0;
}

.mCS-minimal.mCSB_scrollTools .mCSB_draggerRail,
.mCS-minimal-dark.mCSB_scrollTools .mCSB_draggerRail {
	width: 4px;
	background-color: rgba(255,255,255,0.05);
}

.mCS-autoHide > .mCustomScrollBox > .mCSB_scrollTools,
.mCS-autoHide > .mCustomScrollBox ~ .mCSB_scrollTools {
	opacity: 1;
}


.rotate {
	@include animation-name(cog);
	@include animation-duration(5s);
	@include animation-iteration-count(infinite);
	@include animation-timing-function(linear);
}
@-ms-keyframes cog {
	from { -ms-transform: rotate(0deg); }
	to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes cog {
	from { -moz-transform: rotate(0deg); }
	to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes cog {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(360deg); }
}
@keyframes cog {
	from {
		transform:rotate(0deg);
	}
	to {
		transform:rotate(360deg);
	}
}