.img-fluid {
	height: auto;
	display: block;
	max-width: 100%;
}

.ico_svg {
	position: relative;
	display: inline-block;
	width: auto;
	height: 100%;
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
}

.hide {
	opacity: 0 !important;
	display: none !important;
	visibility: hidden !important;
}

// Alignment

.text-center    { text-align: center !important; }
.text-right     { text-align: right !important; }
.text-justify   { text-align: justify !important; }
.text-nowrap    { white-space: nowrap !important; }


// Transformation

.text-lowercase  { text-transform: lowercase !important; }
.text-uppercase  { text-transform: uppercase !important; }
.text-capitalize { text-transform: capitalize !important; }

.mb_0  			 { margin-bottom: 0 !important; }
.mb_10 			 { margin-bottom: 10px !important; }
.mb_15 			 { margin-bottom: 15px !important; }
.mb_20 			 { margin-bottom: 20px !important; }
.mb_25 			 { margin-bottom: 25px !important; }
.mb_30 			 { margin-bottom: 30px !important; }
.mb_35 			 { margin-bottom: 35px !important; }
.mb_40 			 { margin-bottom: 40px !important; }
.mb_50 			 { margin-bottom: 50px !important; }
.mb_60 			 { margin-bottom: 60px !important; }

.ml_30 			 { margin-left: 30px !important; }

.color_green     { color: #74c22e !important; }
.color_gray      { color: #8e9aa9 !important; }
.color_red       { color: #ff0000 !important; }

.text_lead {
	font-weight: 600;
	font-size: 1.4rem;
}