
.btn {
	color: #1c2530;
	outline: none;
	cursor: pointer;
	font-weight: 700;
	font-size: 1.3rem;
	line-height: 2rem;
	padding: 10px 18px;
	user-select: none;
	text-align: center;
	white-space: nowrap;
	background-color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	vertical-align: middle;
	border: 2px solid #e9e9e9;
	@include border-radius(3px);

	&:hover {
		color: #1c2530;
		border-color: #e9e9e9;
		background-color: #e9e9e9;
	}

	&:active {
		background-color: #f5f5f5;
	}

	&:focus,
	&.focus {
		outline: 0;
	}
}

.btn_yellow {
	background-color: #ffcc00;
	border-color: #ffcc00;

	&:hover {
		border-color: #ffcc00;
		background-color: #fff;
	}

	&:active {
		background-color: #ffcc00;
	}
}

.btn_border {
	border-color: #ffcc00;

	&:hover {
		background-color: #ffcc00;
		border-color: #ffcc00;
	}
}

.btn_green {
	color: #363636;
	background-color: #edf5e6;
	border-color: #edf5e6;

	&:hover {
		color: #363636;
		border-color: #b4f5ac;
		background-color: #b4f5ac;
	}

	&:active {
		color: #363636;
		background-color: #edf5e6;
	}
}

.btn_gray {
	color: #363636;
	background-color: #f7f8fc;
	border-color: #f7f8fc;

	&:hover {
		color: #363636;
		border-color: #ffcc00;
		background-color: #ffcc00;
	}

	&:active {
		color: #363636;
		background-color: #edf5e6;
	}
}

.btn_xs {
	padding: 4px 13px 2px 13px;
}

.btn_sm {
	padding: 6px 16px 6px 16px;
}

.btn_md {
	padding: 8px 16px 8px 16px;
}

.btn_plus {
	font-weight: 600;
	text-transform: inherit;
	padding: 6px 20px 6px 40px;
	background-image: url("../img/icon__btn_plus.png");
	background-position: 10px 50%;
	background-repeat: no-repeat;
}

.btn_show_more {
	color: #8e9aa9;
	font-weight: 400;
	padding: 6px 40px 6px 25px;
	text-transform: inherit;
	background-image: url("../img/icon__btn_arrow.png");
	background-position: 100% 50%;
	background-repeat: no-repeat;

	&:hover {
		color: #8e9aa9;
	}
}

.btn_submit {
	padding-left: 42px;
	background-position: 15px 50%;
	background-repeat: no-repeat;
	background-image: url("../img/icon__submit.png");
}

.btn_group {
	padding: 0;
	font-size: 0;
	line-height: 0;
	margin: 0 -5px;
	list-style: none;
	@include flexbox();
	@include flex-wrap(wrap);
	@include align-items(center);

	li {
		padding: 5px;
	}

	&_center {
		@include justify-content(center);
	}
}

.btn_file {
	padding-left: 48px;
	background-image: url("../img/icon__arrow_up.png");
	background-position: 10px 50%;
	background-repeat: no-repeat;
}

.btn_copy {
	padding-left: 33px;
	background-repeat: no-repeat;
	background-position: 12px 50%;
	background-image: url('../img/icon__copy.png');
}

.btn_save {
	padding-left: 33px;
	background-repeat: no-repeat;
	background-position: 12px 50%;
	background-image: url('../img/icon__save.png');
}

.btn_reset {
	padding-left: 33px;
	background-repeat: no-repeat;
	background-position: 12px 50%;
	background-image: url('../img/icon__reset.png');
}

.btn_lock {
	padding-left: 35px;
	background-repeat: no-repeat;
	background-position: 15px 50%;
	background-image: url('../img/icon__lock.png');
}

.btn_search {
	padding-left: 35px;
	background-repeat: no-repeat;
	background-position: 15px 55%;
	background-image: url('../img/icon__search.png');
}


.btn_long_md {
	min-width: 120px;
}


.btn_download {
	@include flexbox();
	@include align-items(center);
	@include justify-content(center);

	i {
		font-size: 0;
		line-height: 0;
		margin-right: 10px;
		display: inline-block;
	}
}

