.form_control {
	margin: 0;
	width: 100%;
	height: 40px;
	outline: none;
	color: #363636;
	background: #fff;
	font-size: 1.3rem;
	line-height: 2rem;
	padding: 9px 18px;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #e9e9e9;
	@include placeholder(#363636);
	@include border-radius(4px);

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:focus,
	&:active {
		outline: none;
		border-color: #e9e9e9;
		@include placeholder(transparent);
	}

	&.error {
		border-color: #e2001a;
	}

	&:disabled {
		border-color: #edeff6;
		background-color: #edeff6;

		&:focus,
		&:active {
			border-color: #edeff6;
		}
	}

	&_sm {
		height: 36px;
		padding: 7px 18px;
	}
}

textarea.form_control {
	height: auto;
}


.form_select {
	cursor: pointer;
	padding-right: 30px;
	background: #fff url("../img/icon__select_arrow.png") 100% 50% no-repeat;
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';

	-ms-appearance: none;
	appearance: none!important;

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&::-ms-expand {
		display: none;
	}

	&_sm {
		font-size: 1.2rem;
	}
}

.form_control_user {
	padding-left: 40px;
	border-color: #edeff6;
	background-color: #edeff6;
	background-image: url("../img/icon__form_user.png");
	background-position: 5px 50%;
	background-repeat: no-repeat;

	&:focus,
	&:active {
		border-color: #edeff6;
	}
}

.form_group {
	margin-bottom: 12px;
}

.form_label {
	display: block;
	color: #8e9aa9;
	font-weight: 300;
	font-size: 1.3rem;
	line-height: 2rem;
	margin-bottom: 5px;
	min-height: 20px;
}

.file_group {
	@include flexbox();
	@include flex-wrap(wrap);
	@include align-items(center);

	&__source {
		width: 100%;
		font-size: 1.3rem;
		line-height: 2rem;
		padding-top: 20px;
		@include flexbox();
		@include flex-wrap(wrap);
	}

	&__label {
		width: 100%;
		color: #8e9aa9;
		font-size: 1.3rem;
		line-height: 2rem;
		text-transform: uppercase;
	}

	&__item {
		font-size: 0;
		line-height: 0;
		color: #363636;
		margin-right: 10px;
		position: relative;
		padding-left: 22px;
		padding-right: 20px;
		display: inline-block;
		background: url("../img/icon__image_upload.png") 0 50% no-repeat;

		span {
			max-width: 200px;
			overflow: hidden;
			font-size: 1.3rem;
			line-height: 2rem;
			display: inline-block;
			text-overflow: ellipsis;
		}

		i {
			top: 50%;
			right: 0;
			width: 16px;
			height: 16px;
			font-size: 0;
			line-height: 0;
			cursor: pointer;
			margin-top: -8px;
			position: absolute;
			display: inline-block;
			background: #f0f4f7;
			@include border-radius(50%);

			&:after,
			&:before {
				top: 50%;
				left: 50%;
				z-index: 5;
				width: 10px;
				height: 2px;
				content: '';
				font-size: 0;
				line-height: 0;
				position: absolute;
				background: #363636;
				display: inline-block;
				margin: -1px 0 0 -5px;
			}

			&:after {
				@include rotate(45deg);
			}

			&:before {
				@include rotate(-45deg);
			}

			&:hover {
				background: #ab2416;

				&:after,
				&:before {
					background: #fff;
				}
			}
		}
	}
}

.file_text {
	color: #363636;
	font-size: 1.3rem;
	padding-left: 20px;
	line-height: 1.8rem;
	display: inline-block;
}

.file_form {
	font-weight: 400;
	position: relative;
	display: inline-block;

	input {
		top: 0;
		left: 0;
		width: 1px;
		height: 1px;
		opacity: 0;
		overflow: hidden;
		visibility: hidden;
		position: absolute;
	}
}


.form_inline {
	padding: 4px 4px 4px 4px;
	border: 1px solid #e2e3e6;
	@include flexbox();
	@include align-items(center);
	@include border-radius(4px);

	&__input {
		width: 100%;
		color: #363636;
		border: none;
		outline: none;
		font-weight: 600;
		font-size: 1.3rem;
		line-height: 2rem;
		overflow: hidden;
		display: inline-block;
		background: transparent;
		padding: 0 15px;
		@include flex-grow(1);
	}

	.btn {
		@include flex-shrink(0);
	}
}

.form_control_calendar {
	background-repeat: no-repeat;
	background-position: 100% 50%;
	background-image: url("../img/icon__form_calendar.png");
}

.form_image {
	margin-bottom: 20px;
	border: 1px solid #ededed;
	padding: 20px 20px 15px 20px;
	@include border-radius(3px);

	&__item {
		font-size: 0;
		line-height: 0;
		max-width: 300px;
		overflow: hidden;
		margin: 0 auto 15px auto;
		@include box-shadow(0px 25px 30px 0px rgba(0, 0, 0, 0.05));
	}

	&__group {
		margin-bottom: 35px;
	}

	&__thumb {
		height: 46px;
		margin-bottom: 5px;
		position: relative;
		background: #f6f6f6;
		padding: 5px 40px 5px 12px;
		@include border-radius(4px);
		@include flexbox();
		@include align-items(center);

		i {
			font-size: 0;
			line-height: 0;
			margin-right: 10px;
			display: inline-block;
			@include flex-shrink(0);
		}

		span {
			overflow: hidden;
			display: inline-block;
			@include flex-grow(1);

			span {
				max-width: 100%;
				overflow: hidden;
				display: inline-block;
				text-overflow: ellipsis;
			}
		}

	}

	&__remove {
		top: 50%;
		right: 10px;
		width: 20px;
		height: 20px;
		border: none;
		outline: none;
		font-size: 0;
		line-height: 0;
		cursor: pointer;
		margin-top: -10px;
		position: absolute;
		display: inline-block;
		background: url("../img/icon__del.png") 50% 50% no-repeat;
	}
}


.form_switch {
	color: #363636;
	font-size: 0;
	line-height: 0;
	font-weight: 400;
	position: relative;
	display: inline-block;

	input {
		top: 0;
		left: 0;
		width: 1px;
		height: 1px;
		opacity: 0;
		overflow: hidden;
		visibility: hidden;
		position: absolute;
	}

	span {
		cursor: pointer;
		font-size: 1.3rem;
		line-height: 2rem;
		padding-left: 45px;
		display: inline-block;

		&:before {
			left: 0;
			top: 7px;
			z-index: 10;
			width: 32px;
			height: 8px;
			content: '';
			position: absolute;
			background: #e5e5e5;
			display: inline-block;
			@include border-radius(4px);
		}

		&:after {
			top: 1px;
			left: -2px;
			content: '';
			z-index: 20;
			width: 18px;
			height: 18px;
			position: absolute;
			background: #e5e5e5;
			border: 4px solid #fff;
			@include border-radius(50%);
			@include box-shadow(0px 2px 6px 0px rgba(0, 0, 0, 0.11));
			@include transition(.3s);
		}
	}

	input:checked + span {

		&:before {
			background: #ffcc00;
		}

		&:after {
			left: 18px;
			background: #ffcc00;
			@include transition(.3s);
		}
	}
}

.form_radio {
	color: #363636;
	font-size: 0;
	line-height: 0;
	font-weight: 400;
	position: relative;
	display: inline-block;

	input {
		top: 0;
		left: 0;
		width: 1px;
		height: 1px;
		opacity: 0;
		overflow: hidden;
		visibility: hidden;
		position: absolute;
	}

	span {
		cursor: pointer;
		font-size: 1.3rem;
		line-height: 2rem;
		padding-left: 25px;
		display: inline-block;

		&:before {
			left: 0;
			top: 2px;
			content: '';
			z-index: 10;
			width: 16px;
			height: 16px;
			position: absolute;
			display: inline-block;
			border: 2px solid #eeeeee;
			@include border-radius(50%);
		}

		&:after {
			top: 7px;
			left: 5px;
			content: '';
			z-index: 20;
			width: 6px;
			height: 6px;
			opacity: 0;
			visibility: hidden;
			position: absolute;
			background: #ffcc00;
			@include border-radius(50%);
			@include transition(.3s);
		}
	}

	input:checked + span {

		&:after {
			opacity: 1;
			visibility: visible;
			@include transition(.3s);
		}
	}
}


.form_box {
	border: 1px solid #ededed;
	padding: 20px 20px 15px 20px;
	@include border-radius(3px);

	@media (min-width: $screen-sm-min) {
		padding: 40px 40px 35px 40px;
	}
}

.form_qr {
	width: 185px;
	margin: 0 auto 20px auto;
}

.row_sm {
	margin: 0 -8px;

	.col-gutter-lr {
		padding: 0 8px;
	}
}

.row_xl {

	@media (min-width: $screen-xl-min) {
		margin: 0 -20px;

		.col-gutter-lr {
			padding: 0 20px;
		}
	}
}

.group_inline {
	margin: 0 -20px 0 -8px;
	@include flexbox();
	@include flex-wrap(wrap);
	@include align-items(center);

	label {
		margin: 0 8px 8px 8px;
	}
}
