.table_responsive {
	width: 100%;
	max-width: 100%;
	overflow-x: auto;

}

.table {
	width: 100%;
	border-collapse: collapse;

	th {
		color: #8e9aa9;
		font-weight: 400;
		text-align: left;
		font-size: 1.3rem;
		line-height: 2rem;
		padding: 14px 15px;
		position: relative;
		white-space: nowrap;
		border-bottom: 1px dotted #c2c2c2;
	}

	td {
		color: #363636;
		font-weight: 400;
		text-align: left;
		font-size: 1.3rem;
		line-height: 2rem;
		padding: 14px 15px;
		position: relative;
		border-bottom: 1px dotted #c2c2c2;
	}

	tr {

		&:hover {

			td {
				background-color: #fff8dc;
			}
		}
	}

	&_link {
		color: #006dff;
		text-decoration: none;

		&:hover {
			color: #006dff;
			text-decoration: underline;
		}
	}

	.min_width_200 {
		min-width: 200px;
	}

	@media (min-width: $screen-md-min) {

		th {
			padding: 14px 20px;

			&:first-child {
				padding-left: 40px;

				&:before {
					left: 0;
					top: 100%;
					content: '';
					z-index: 10;
					height: 1px;
					width: 35px;
					display: block;
					background: #fff;
					position: absolute;
				}
			}

			&:last-child {
				padding-right: 40px;

				&:before {
					right: 0;
					top: 100%;
					content: '';
					z-index: 10;
					height: 1px;
					width: 35px;
					display: block;
					background: #fff;
					position: absolute;
				}
			}
		}

		td {
			padding: 14px 20px;

			&:first-child {
				padding-left: 40px;

				&:before {
					left: 0;
					top: 100%;
					content: '';
					z-index: 10;
					height: 1px;
					width: 35px;
					display: block;
					background: #fff;
					position: absolute;
				}
			}

			&:last-child {
				padding-right: 40px;

				&:before {
					right: 0;
					top: 100%;
					content: '';
					z-index: 10;
					height: 1px;
					width: 35px;
					display: block;
					background: #fff;
					position: absolute;
				}
			}
		}
	}
}


.tree_table {
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;

	th {
		color: #8e9aa9;
		font-weight: 400;
		text-align: left;
		font-size: 1.3rem;
		line-height: 2rem;
		padding: 13px 15px;
		position: relative;
		white-space: nowrap;
	}

	td {
		color: #363636;
		font-weight: 400;
		text-align: left;
		font-size: 1.3rem;
		line-height: 2rem;
		padding: 13px 15px;
		position: relative;
		border-top: 1px dotted #c2c2c2;

		&:first-child {
			@include border-radius(3px 0 0 3px);
		}

		&:last-child {
			@include border-radius(0 3px 3px 0)
		}
	}

	tr {


	}

	tbody {

		> tr {


			&.collapsed {

				> td {
					background: #edeff6;
					border-top-color: #fff;
				}
			}

			&.expanded {

				> td {
					background: #edeff6;
					border-top-color: #fff;
				}
			}
		}
	}

	.expanded td:first-child:before,
	.collapsed td:first-child:before {

		width: 9px;
		height: 5px;
		content: '';
		margin-right: 10px;
		display: inline-block;
		background: url("../img/icon__table_arrow.png") 0 0 no-repeat;
	}

	.expanded td:first-child:before {
		@include rotate(180deg);
	}

	tr[data-level="1"] td:first-child {
		padding-left: 40px !important;
	}
	tr[data-level="2"] td:first-child {
		padding-left: 60px !important;
	}
}

